<% if @collection and @doc %>
<div id="paper_show_info">
  <ul class="new_biz"><li class="actived">我的收藏</li>
  </ul>
  <div class="soso">
    <div>
      <%= form_tag "/user/collections/search", :method => "post" do -%>
        <span>试题分类：<%= render :partial => "/common/categories" %>
        </span>
        <span>知识点：<input type="text" class="input_style" name="tag" id="tag"
                         value="<%= session[:tag] if session[:tag] %>" /></span>
        <span><input type="submit" name="button" id="button" value="查询" class="submit_btn" /></span>
      <% end -%>
    </div>
  </div>
</div>
<div class="biz_art_list_box">
  <ul>
    <% @doc.root.elements['problems'].each_element do |problem|
      if !problem.elements['title'].nil? %>
        <li>
          <%= render :partial=>"/user/collections/show_problem",:object => problem %>
          <h2>
            <a href="javascript:void(0)"
               onclick="javascript:question_info(<%= problem.attributes["id"].to_i %>)">
                 <%= truncate_u(problem.elements['title'].text.to_s.html_safe, 40) %>
            </a>
          </h2>
        </li>
      <% end
    end %>
  </ul>
</div>
<% else %>
<div style="text-align: center;">您的收藏里面暂无数据。</div>
<% end %>
<div class="clear"></div>