<div class="question">
  小题描述：
  <%= question_with_answer.elements["description"].text if question_with_answer.elements["description"] %>
  [<%= question_with_answer.attributes["score"] %>分]
  <% attrs_str = question_with_answer.elements["questionattrs"].text
  attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
  correct_type = question_with_answer.attributes["correct_type"]
  answer = question_with_answer.elements["answer"]
  answers = (answer.nil? or answer.text.nil?) ? [] : answer.text.split(";|;")
  (0..attrs_array.length-1).each do |i|
    is_answer = answers.include?(attrs_array[i])
  %>
    <div class="attr" <% if is_answer %>style="border: 1px green solid;"<% end %>>
      
      <% if !correct_type.nil? %>
        <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
          <input type="checkbox" name="question_attr_<%= question_with_answer.attributes["id"].to_i %>"
                 id="question_attr_<%= i %>"  <% if is_answer %>checked="true"<% end %> />
               <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
          <input type="radio" name="question_attr_<%= question_with_answer.attributes["id"].to_i %>"
                 id="question_attr_<%= i %>" <% if is_answer %>checked="true"<% end %> />
               <% end %>
        <label><%= attrs_array[i] %></label>
      <% end %>
    </div>
  <% end if attrs_array and attrs_array.any? %>
  <div class="attr">
     <% if correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
    <input type="radio"  name="question_attr_<%= question_with_answer.attributes["id"].to_i %>"  <% if answer.text.to_i==1 %>style="border: 1px green solid;"<%  end %>  />对
     <input type="radio"  name="question_attr_<%= question_with_answer.attributes["id"].to_i %>" <% if answer.text.to_i==0  %>style="border: 1px green solid;"<%  end %>/>错
 <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] or correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER]
    "答案：" + answers[0].to_s
  end %>
  </div>
 
</div>

<div class="title">解析：<br/>
  <% analysis = question_with_answer.elements["analysis"] %>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= if analysis and !analysis.nil?
    analysis.text
  end %>
</div>
<div class="tag">知识点标签：
  <%= question_with_answer.elements["tags"].text %>
</div>
