  
<body onload="changepage()">
  <center>
  
    <div class="reg_content">
        <p class="expForLoginEmail" ><font color="red"><%= @user.name %></font>,您好<font color="blue"><%= flash[:title] %></font></p>
        <div>
         
        <div  id="info" style="display:none" >

         <%= form_for :user,:url=>"/exam_users/#{@user.id}/edit_name" do  %>
           <input type="hidden" id="examination" name="examination" value="<%= @examination.id %>" />
           <input type="hidden" id="exam_user" name="exam_user" value="<%= @exam_user.id %>" />
       您的姓名：<input value="<%= @user.name %>" id="name" name="name"/>
        </div>
      <p class="expForLoginEmail"> <input type="submit" value="确认信息无误"  /></p>
        <% end %>
      </div>
      <p class="expForLoginEmail" ><%= flash[:success] %></p>
      <p class="expForLoginEmail">如果您的姓名有误可提交<a onclick="javascript:$('info').style.display='block';">编辑</a></p>
      <div class="btn_box">
        <a href="/">点击网站登录</a>
      </div>
    </div>
  </center>
</body>