<br/>
<p><font color="blue"><b>&nbsp;&nbsp;设置角色：</b></font> <%=set_role.name %></p>
<div>
  <% @user_role_relations = set_role.user_role_relations %>
  <%= form_for :role,:url=>"/users/set_role" do |f| %>
    <%  num = 0 %>
    <%= f.hidden_field:num,:value=>@roles.size %>
    <%= f.hidden_field:user_id,:value=>set_role.id %>
    <% @roles.each do |role| %>
      <% if num%5 == 0 %><div> <% end %>
        <div style="<% if @user_role_relations.find_by_role_id(role.id)!=nil %> background-color: #cff;<%end%> float: left;width:24%;">
          <input type="checkbox" name="check_box<%= role.id %>" 
                 value="<%= role.id %>" <% if @user_role_relations.find_by_role_id(role.id)!=nil %> checked="true"<%end%>></input><%= role.name %></div>
        <% if num%5 == 4 %><div class="clear"></div></div> <% end %>
      <% num += 1 %>
    <% end %>
    <div class="clear"></div>
    <div>
      <%= f.submit "确认" %>
    </div>
  <% end %>
</div>

