

  <br/> <p><font color="blue"><b>设置权限</b></font>（<%= set_right.name %>）</p><hr/>
  <%= form_for :right ,:url=>"/users/set_right" do |f|%>
  <%= f.hidden_field :role_id ,:value=>set_right.id %>
  <%= f.hidden_field :right_num,:value=>@rights.size %>
    <% num=0 %>
    <% @rights.values.each do |right| %>
      <input type="checkbox" id="checkbox<%= right[1] %>" name="check_box<%= num %>" value="<%= right[1] %>" <% if set_right.model_role!=nil && (set_right.model_role.right_sum/(2**num))%2!=0 %>checked="true"<% end %>></input><%= right[0] %>&nbsp;&nbsp;
      <% num += 1 %>
      <% if num%4 == 0 %><br/><% end %>
    <% end %>
    <br/><br/><%= f.submit "确认" %>&nbsp;&nbsp;&nbsp;<input type="button" value="取消" onclick="javascript:cancel_set_right();"/>
  <% end %>