
<div class="reg_content">
  <div class="step_one"></div>
  <div ></div>
  <tr> <td valign="top" align="center"><span class="must_r"><%= flash[:nameused] %></span></td></tr>
  <tr> <td valign="top" align="center"><span class="must_r"><%= flash[:emailused] %></span></td></tr>
  <table>
    <%= form_for @user, :html =>{:onsubmit => 'return check()'} do |f| %>
      <tr>
        <td valign="top" align="right"><span class="must_r">*</span>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</td>
        <td><%= f.text_field :username, :class => "input_style" %><span class="expForEmail">用户名只能由字母，数字和下划线组成<span id="usernameErr"></span></span><span  id="username_span"></span></td>
      </tr>
      

      <tr>
        <td valign="top" align="right"><span class="must_r ">*</span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
        <td><%= f.password_field :password, :class => "input_style" %><span class="expForEmail">密码长度在6到20位之间<span id="passwordErr"></span></span></td>
      </tr>
      <tr>
        <td valign="top" align="right"><span class="must_r">*</span>确认密码：</td>
        <td><%= f.password_field :password_confirmation, :class => "input_style" %><span class="expForEmail"><span id="confirmationErr"></span></span></td>
      </tr>
      <tr>
        <td valign="top" align="right"><span class="must_r">&nbsp;&nbsp;</span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp名：</td>
        <td><%= f.text_field :name, :class => "input_style" %></td>
      </tr>
      <tr>
        <td valign="top" align="right"><span class="must_r">*</span>注册邮箱：</td>
        <td><%= f.text_field :email, :class => "input_style" %><span class="expForEmail">确保邮箱有效，我们将发送激活说明到此地址<span  id="emailErr"></span></span></td>
      </tr>


      <tr>
        <td valign="top" align="right"><span class="must_r">&nbsp;&nbsp;</span>手机号码：</td>
        <td><%= f.text_field :mobilephone, :class => "input_style" %><span class="expForEmail">请填写正确的手机号码，方便我们联系您</span><span  id="mobilephone_span"></span></td>
      </tr>
      <tr>
        <td valign="top" align="right"><span class="must_r">&nbsp;&nbsp;</span>用户地址：</td>
        <td><%= f.text_field :address, :class => "input_style" %><span  id="address_span"></span></td>
      </tr>
      <tr>
        <td valign="top" align="right"><span class="must_r">*</span>验&nbsp;&nbsp;证&nbsp;&nbsp;码：</td>
        <td><input class="input_style required" type="text"  name="proof_code" id="proof_code"/> <span id="proofcode" class="check_num" title="看不清楚？可以点击此处换一张">
            <%=  rand(100)%>
          </span></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="checkbox" name="checkbox"  value="999" onclick="javascript:buttoncontrol();"/>&nbsp;&nbsp;同意安居丽业<a href="/app/users/servers" target="blank">服务条款</a></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit"", :class =>"reg_btn_no" ,:disabled=>"disabled", :id=> "submit_button" %></td>
      </tr>
    <% end %>
  </table>
</div>