<div class="main_box_back">
  <h2><span>权限管理</span></h2>
  <div class="in">
    <table>
      <thead>
        <tr>
          <th width="30">&nbsp;&nbsp;<font color="blue"><b>角色列表</b></font></th>
          <th width="20"></th>
        </tr>
      </thead>
      <tbody>
        <% @roles.find_all.each do |role| %>
          <tr>
            <td><%= role.name %>   </td>
            <td><%= link_to "编辑"%> | <a href="javascript:void(0);" onclick="javascript:load_set_right(<%= role.id %>)">设置权限</a> </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <%=  form_for :role ,:url=>"/users/add_role" do |f| %>
      <p>&nbsp;&nbsp;增加角色 &nbsp;&nbsp;<font color="red">*</font> <%= f.text_field:name %>&nbsp;&nbsp;<%= f.submit "确认" %></p>
    <% end %>
    <br/><br/>
    <div id="set_right_div" name="set_right_div"></div>
  </div>
</div>
