<div class="main_box_back">
  <h2><span>个人信息&nbsp;&nbsp;<font color="#0cf">Information</font></span></h2>
  <div class="in">
    邮箱：<%=  @user.email %><a href="/users/<%= @user.id %>/edit" style="float:right;color:#00A8E6">修改个人信息&nbsp;&nbsp;&nbsp;</a>
    <br/><br/><br/>
    <table style="text-align:center">
      <thead>
        <tr>
          <th width="150" style="text-align:center">考试名称</th>
          <th width="70" style="text-align:center">题目总数</th>
          <th width="125" style="text-align:center">开考时间</th>
          <th width="100" style="text-align:center">考试状态</th>
          <th width="80" style="text-align:center">考试时长</th>
          <th width="80" style="text-align:center">成绩</th>
          <th width="125" style="text-align:center">答卷</th>
        </tr>
      </thead>
      <tbody>
        <% @examinations.each do |examination| %>
          <tr>
            <td><%= examination.title %></td>
            <td><%= examination.exam_users.find_by_user_id(@user.id).paper.total_question_num %></td>
            <td><% if examination.start_at_time!=nil ; %><%= examination.start_at_time.strftime("%Y-%m-%d %H:%M:%S") %><% else %>任意时间<% end %></td>
            <% status=["考试中","未开始","进行中","已结束"] %>
            <td><%= status[examination.status] %></td>
            <td><% if examination.exam_time!=nil %><%= examination.exam_time %><% else %>开放<% end %></td>
            <td><% total_score=examination.exam_users.find_by_user_id(@user.id).total_score%><% if examination.is_score_open==0  %>不公开<% else %> <%if total_score==nil %>-<%else%><%=  total_score %><% end ; end%></td>
            <td><% paper=examination.exam_users.find_by_user_id(@user.id).paper;if examination.is_paper_open==0%>不公开<%else%><%if total_score==nil %>-<%else%><a href="/papers/<%=  paper.id %>">查看</a><% end ; end%></td>
          </tr>
        <% end %>
     <div class="pagination_box">
      <%=will_paginate @examinations ,:prev_label=>"«", :next_label=>"»", :inner_window => 1 %>
    </div>
      </tbody>
    </table>
    <br/>
    <div id="set_role_div"></div>
  </div>
</div>