<div class="products_list_style_box" id="question_info_<%= single_question.attributes["id"].to_i %>" style="display:none">
  <div class="arrow" style="top:35px;"></div>
  <div class="big_pic_box" style="top:0px;">
    <div class="in">
      <div class="title"><%= single_question.elements["title"].text %></div>
      <% single_question.elements["questions"].each do |question| %>
        <%= render :partial => "/common/show_single_question", :object => question %>
      <%= render :partial=>"/rater/exam_raters/single_answer",:object => question %>
      <% end %>
         <h2><a href="javascript:void(0)" onclick="javascript:compare_value(<%= single_question.attributes["id"].to_i %>,<%= single_question.attributes["score"] %>)">确定</a></h2>
    </div>
  </div>
</div>
