<% @doc.elements[1].elements[1].each_element do |element| %>
  <% if element.attributes["id"]==single_answer.attributes["id"] %>
    <div class="title">
      <div>考生答案：<%= element.elements["answer"].text %></div>
    </div>
    <div class="title">
        <input value="<%= @exam_user.id %>" id="answer_id" name="answer_id" type="hidden" />
        <input  type="hidden" value="0" id="if_submited_<%= element.attributes['id'] %>" name="if_submited_<%= element.attributes['id'] %>"/>
        <input type="text" name="single_value_<%=element.attributes['id'] %>" id="single_value_<%=element.attributes['id'] %>" value="" />
    </div>
  <% end %>
<% end %>