<div id="paper_show_info">
  <ul class="tab_biz">
    <li class="actived"><a href="javascript:void(0);"><%= @xml.elements['base_info'].elements['title'].text %></a></li>
  </ul>
</div>
<% problem_size = 0 %>
<% sum=["一","二","三","四","五","六","七","八","九","十"] %>
<%  array_index=0 %>
<% @xml.elements['blocks'].each_element do |block|%>
  <h1 class="biz_art_title" id="block_show"><%= sum[array_index] %>、<%= block.elements['base_info'].elements['title'].text %> (共<%= block.attributes['total_num'] %>题，总分:<%= block.attributes['total_score'] %>分)
  </h1>
  <% array_index += 1 %>
  <div class="biz_art_list_box">
    <%= block.elements["base_info"].elements["description"].text %>
    <ul>
      <% if !block.elements['problems'].nil? %>
        <% problem_size = block.elements['problems'].children.size %>
        <% block.elements['problems'].each_element do |problem| %>
          <% if   problem.attributes["types"].to_i==5 %>
            <% if !problem.elements['title'].nil? %>
              <li>
                <%= render :partial=>"/rater/exam_raters/single_question",:object=>problem %>
          <%#= render :partial=>"/papers/edit_problem",:object=>problem %>
                <h2><a href="javascript:void(0)" onclick="javascript:question_info(<%= problem.attributes["id"].to_i %>)"><%= problem.elements['title'].text %></a></h2>
              </li>
              <div class="links">
                <%= form_for :delete,:html => {:name=>"delete_form_#{problem.attributes['id']}", :id =>"delete_form_#{problem.attributes['id']}"}, :url=>"/papers/problem_destroy" do |f|%>
                  <%= f.hidden_field :xpath,:value=>problem.xpath %><%= f.hidden_field :paper_id,:value=>@xml.root.attributes["id"] %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <% if problem.attributes["types"].to_i==4  %>
              <% problem.elements["questions"].each_element do |question| %>
                <% if question.attributes["types"].to_i==4 %>
                  <% if !problem.elements['title'].nil? %>
                    <li>
                      <%= render :partial=>"/rater/exam_raters/single_question",:object=>problem %>
                <%#= render :partial=>"/papers/edit_problem",:object=>problem %>
                      <h2><a href="javascript:void(0)" onclick="javascript:question_info(<%= problem.attributes["id"].to_i %>)"><%= problem.elements['title'].text %></a></h2>
                    </li>
                    <div class="links">
                      <%= form_for :delete,:html => {:name=>"delete_form_#{problem.attributes['id']}", :id =>"delete_form_#{problem.attributes['id']}"}, :url=>"/papers/problem_destroy" do |f|%>
                        <%= f.hidden_field :xpath,:value=>problem.xpath %><%= f.hidden_field :paper_id,:value=>@xml.root.attributes["id"] %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="clear"></div>
<script type="text/javascript">
<% (0..problem_size-1).each do |i|  %>
  KE.show({
    id : 'title_<%= i %>',
    skinType: 'tinymce',
    cssPath : './index.css',
    items : [
      'undo', 'redo','copy', 'paste',
      'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent',
      'specialchar', 'link', 'unlink', 'image', 'flash', 'media', '-',
      'fontname', 'fontsize', 'textcolor', 'bold',
      'italic', 'underline',  'table', 'hr'
    ]
  });
<% end %>
</script>
