<div class="products_list_style_box" id="question_info_<%= answer_question.attributes["id"].to_i %>" style="display:none">
  <div class="arrow" style="top:35px;"></div>
  <div class="big_pic_box" style="top:0px;">
    <div class="in">
      <div class="title"><%= answer_question.elements["title"].text %></div>    
      <div class="question">
        <% attrs_str=answer_question.elements["questions"].elements["question"].elements["questionattrs"].text %><% attrs_array=attrs_str.split(";-;") %><% index=0 %>
        <% (1..attrs_array.length).each do %>
          <%  index += 1 %>
          <div class="attr"></div>
          <div class="attr"><input type="radio" name="attr"><%= attrs_array[index-1].split(":-:")[0] %>、<%= attrs_array[index-1].split(":-:")[1] %></input></div>
        <% end %>
      </div>

      <div class="answer">
        本题分值：<%= answer_question.attributes["score"] %><br/><br/>
        你的答案：<%= answer_question.elements["questions"].elements["question"].attributes["answer"] %>&nbsp;&nbsp;&nbsp; &nbsp;

      </div>
    </div>
  </div>
</div>




