<div>
  <div class="title">题目类型：</div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="type_radio_<%= choose_question_type.attributes['id'] %>"
          value="<%= Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>" id="radio1" checked />单选题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="type_radio_<%= choose_question_type.attributes['id'] %>"
          value="<%= Problem::QUESTION_TYPE[:MORE_CHOSE] %>" id="radio2" />多选题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="type_radio_<%= choose_question_type.attributes['id'] %>"
          value="<%= Problem::QUESTION_TYPE[:JUDGE] %>" id="radio3" />判断题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="type_radio_<%= choose_question_type.attributes['id'] %>"
          value="<%= Problem::QUESTION_TYPE[:SINGLE_CALK] %>" id="radio4" />填空题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="type_radio_<%= choose_question_type.attributes['id'] %>"
          value="<%= Problem::QUESTION_TYPE[:COLLIGATION] %>" id="radio5" />综合题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="type_radio_<%= choose_question_type.attributes['id'] %>"
          value="<%= Problem::QUESTION_TYPE[:CHARACTER] %>" id="radio6" />简答题
  </div>
  <div class="clear"></div>
  <input type="button" value="确定" class="submit_btn"
         onClick="javascript:create_question(<%= choose_question_type.attributes['id'] %>)"/>
  <input type="button" value="取消" class="submit_btn"
         onClick="javascript:cancel_choose_que_type(<%= choose_question_type.attributes['id'] %>)"/>
</div>