<script type="text/javascript">
  KE.show({
    id : 'edit_title_<%= edit_problem.attributes['id'] %>',
    wyswygMode : false,
    skinType: 'tinymce',
    cssPath : '/kindeditor/examples/index.css',
    items : [
      'source', 'undo', 'redo','copy', 'paste',
      'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent',
      'specialchar', 'link', 'unlink', 'image', 'flash', 'media', '-',
      'fontname', 'fontsize', 'textcolor', 'bold',
      'italic', 'underline',  'table', 'hr'
    ]
  });
</script>
<div class="products_list_style_box"  style="display: none;" id="edit_problem_<%= edit_problem.attributes["id"].to_i %>" style="display:none;">
  <input type="hidden" name="edit_problem_<%= edit_problem.attributes["id"] %>" id="single_question_<%= edit_problem.attributes["id"] %>" value=""/>
  <div class="arrow" style="top:10px;"></div>
  <div class="question_pic_box" style="top:0px;">
    <div class="in">
      <%= form_for :problem ,:url => "/problems/#{edit_problem.attributes["id"].to_i}/update_problem", 
        :html => {:onsubmit => "return generate_edit_questions('#{edit_problem.attributes["id"]}')"} do |f| %>
        <%= f.hidden_field :problem_xpath,:value=>"#{edit_problem.xpath}" %>
        <%= f.hidden_field :problem_id,:value=>"#{edit_problem.attributes["id"]}" %>
        <%= f.hidden_field :paper_id,:value=>"#{@xml.attributes["id"]}" %>
        <div class="title">题面：</div>
        <%= f.text_area :title ,:cols=>"45", :rows=>"3", :class=>"textarea_style",
          :id => "edit_title_#{edit_problem.attributes["id"].to_i}", :value=>edit_problem.elements["title"].text %>

        <% question_ids = []
        edit_problem.elements["questions"].each do |question|
          question_ids << question.attributes["id"].to_i
        %>
          <% if edit_problem.elements["questions"].size > 1 %>
            <div style="border: 1px solid #ccc;padding-bottom: 5px;" id="remote_question_<%= question.attributes["id"].to_i %>">
              <%= render :partial => "/common/show_single_question", :object => question %>
              <div class="chose_add">
                <a href="javascript:void(0);"
                   onclick="javascript:edit_question(<%= question.attributes["id"].to_i %>,'<%= @xml.attributes["id"] %>', '<%= question.xpath %>')">编辑</a>
                <a href="#">删除</a>
              </div>
              <div class="clear"></div>
            </div>
          <% else %>
            <%= render :partial => "/common/edit_other_question", :object => question %>
          <% end %>
        <% end %>
        <input type="hidden" name="all_question_ids_<%= edit_problem.attributes["id"] %>"
               id="all_question_ids_<%= edit_problem.attributes["id"] %>" value="<%= question_ids.to_s %>" />
        <%= f.submit "提交" ,:class=>"submit_btn" %>
      <% end %>
    </div>
  </div>
</div>