<%= form_for :info ,:url=>"/papers/#{@xml.attributes['id']}/change_info", 
  :html=>{:onsubmit=>"return edit_paper_info('info_form', 'info_submit', 'spinner_for_submit');", :name => "info_form",
  :id => "info_form", :class => "required-validate"} do |f| %>
  <ul class="tab_biz">
    <li class="actived"><a href="javascript:void(0);"><%= @xml.elements['base_info'].elements['title'].text %></a></li>
  </ul>
  <div class="soso">
    <div>试卷编号：<%= @xml.attributes['id'] %></div>
    <div>标题：<%= f.text_field :title,:value=>@xml.elements['base_info'].elements['title'].text ,
        :id=>"edit_paper_title", :class => "required input_style" %>
    </div>
    <div>
      <%= render :partial => "/common/modify_categories", :object => @xml.elements['base_info'].elements['category'].text %>
    </div>
    <div>
      备注：<%= f.text_area :description, :value=>@xml.elements['base_info'].elements['description'].text ,
        :size=>40, :cols=>"55", :rows=>"2", :class=>"textarea_style" %>
    </div>
    <%= f.submit "完成", :class=>"submit_btn" %>
    <%= image_tag "ajax-loader.gif", :id => "spinner_for_submit", :style => "display:none" %>
    <input type="button" value="取消" class="submit_btn"
           onclick="javascript:window.location.href='/papers/<%= @xml.attributes['id'] %>/new_step_two'"/>
  </div>
<% end %>
