<div class="state_list_style_box">
  <div class="arrow" style="top:35px;left:398px;"></div>
  <div class="state_pic_box" style="top:0px;">
    <div class="in">
      <%= form_for :problem ,:url=>"/problems/#{edit_problem_state[0].attributes['part_id']}/update_part_description", :method => "post",
        :html => {:onsubmit => "return validate_blank(#{edit_problem_state[0].attributes['part_id']});" , :class => "required-validate", :id => "problem_form", :name => "problem_form"} do |f| %>
        <input type="hidden" value="<%=edit_problem_state[1]  %>" name="paper_id"/>
        <input type="hidden" value="<%= edit_problem_state[2] %>" name="block_id" />
        <input type="hidden" value="" name="real_type" id="real_type_<%= edit_problem_state[0].attributes['part_id'] %>"/>
        <div class="title">试题说明：</div>
        <div id="span_<%= edit_problem_state[0].attributes['part_id'] %>"></div>
        <input type="button" name="button" value="富文本" class="submit_btn"
               onclick="javascript:add_area('mavin_problem_title_<%= edit_problem_state[0].attributes['part_id'] %>', this);" />
        <textarea class="required textarea_style" cols="55" id="mavin_problem_title_<%=edit_problem_state[0].attributes['part_id']  %>" name="mavin_problem_title_<%=edit_problem_state[0].attributes['part_id'] %>" rows="12">
          <%= edit_problem_state[0].text.strip %></textarea>
        <br/><p>题目的位置：<input type="text" name="insert_position" value=""/> 注：不填则保持原位</p>
        <%= f.submit "提交" ,:class=>"submit_btn" %>
        <%= image_tag "ajax-loader.gif", :id => "spinner_#{edit_problem_state[0].attributes['part_id']}", :style => "display:none" %>
      <% end %>
    </div>
  </div>
</div>

