<% #此模板需要较多参数，一个封装了记录question,block,point和数组attr_ids_array的哈希函数。由局部模板_paper_block调用。 %>
<div class="products_list_style_box" id="edit_question_<%= edit_question[:point].id %>" style="display: none;">
  <div class="arrow" style="top:10px;"></div>
  <div class="big_pic_box" style="top:0px;">
    <div class="in">
      <% form_for :question ,:url=>"/questions/edit" do |f| %>
        <%= f.hidden_field :paper_id ,:value=>@paper.id  %>
        <%= f.hidden_field :question_id,:value=>edit_question[:question].id %>
        <%= f.hidden_field :block_id ,:value=>edit_question[:block].id  %>
        <%= f.hidden_field :point_id ,:value=>edit_question[:point].id %>
        <%= f.hidden_field :attr_ids ,:value=>edit_question[:attr_ids_array] %>
        <div class="title">题目类型：</div>
        <div class="type"><%= f.radio_button :types ,:name=>"type",:id=>"radio1"%>单选题</div>
        <div class="type"><%= f.radio_button :types ,:name=>"type",:id=>"radio2"%>多选题</div>
        <div class="type"><%= f.radio_button :types ,:name=>"type",:id=>"radio3"%>判断题</div>
        <div class="type"><%= f.radio_button :types ,:name=>"type",:id=>"radio4"%>完形填空题</div>
        <div class="type"><%= f.radio_button :types ,:name=>"type",:id=>"radio5"%>综合题</div>
        <div class="clear"></div>
        <div class="title">题面：</div>
        <%= f.text_area :title ,:cols=>"45",:rows=>"3",:class=>"textarea_style" ,:value=>edit_question[:point].question.title %>
        <div class="title">选项：<div class="chose_add"><a href="#">增加选项</a></div></div>
        <div class="clear"></div>

        <%  t=[] %>
        <%  index=0 %>
        <% edit_question[:point].question_attrs.each do |attr| %>
          <% index += 1 %>
          <%  t[index] = attr %>
          <div class="question">
            <%= f.hidden_field :attr_id,:value=>t[index].id,:name=>"attr#{index}_id" %>
            <div class="attr"><%= f.text_field :attr_key ,:class=>"input_style",:value=>t[index].key,:size=>"2", :name => "attr#{index}_key"%> 、 <%= f.text_field :attr1_value ,:class=>"input_style",:value=>t[index].value,:name => "attr#{index}_value" %></div>
          </div>
        <% end %>
        <div class="answer">答案：<%= f.text_field :answer ,:class=>"input_style",:size=>"40",:value=>edit_question[:point].answer%></div>
        <% score = edit_question[:point].question.block_question_relations.find_by_paper_block_id(edit_question[:block]).score %>
        <div class="answer">分值：<%= f.text_field :score ,:class=>"input_style",:value=>score %></div>
        <div class="title">评分规则：</div>
        <%= f.text_area :assess_role ,:cols=>"45",:rows=>"3",:class=>"textarea_style"  %>
        <%= f.hidden_field :index ,:value=>index %>
        <%= f.submit "提交" ,:class=>"submit_btn" %>
      <% end %>
    </div>
  </div>
</div>