<div class="title_list_style_box" style="display:none;" id="edit_block_<%= edit_block.attributes["id"] %>">
  <div class="arrow" style="top:35px;"></div>
  <div class="block_pic_box" style="top:0px;">
    <div class="in">
      <%= form_for :block ,:url=>"/papers/edit_block" ,
        :html=>{:onsubmit=>"return edit_block_info(#{edit_block.attributes["id"]})", :class => "required-validate"} do |f|%>
        <%= f.hidden_field :block_id,:value=>edit_block.attributes["id"] %>
        <%= f.hidden_field :block_xpath,:value=>edit_block.xpath %>
        <div class="paper_block">
          试卷模块标题：<%= f.text_field :title ,:class=>"input_style max-length-50",:size=>"39",
            :value=>edit_block.elements["base_info"].elements["title"].text,:id=>"edit_block_title_#{edit_block.attributes["id"]}" %>
        </div>
        <div class="add_details">
            模块是否需要单独固定时间答完：
            <input type="radio" id="fixup_time" name="fixup_time" value="1"
                   <% unless edit_block.attributes["time"].nil? or edit_block.attributes["time"] == "" %>checked="true"<% end %>
                   onclick="javascript:show_fixup_time(1, <%= edit_block.attributes["id"] %>);" />是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="fixup_time" value="0" name="fixup_time"
                   <% if edit_block.attributes["time"].nil? or edit_block.attributes["time"] == "" %>checked="true"<% end %>
                   onclick="javascript:show_fixup_time(0, <%= edit_block.attributes["id"] %>);"/>否
          </div>
          <div class="add_details" id="fixup_time_div_<%= edit_block.attributes["id"] %>"
               style="<% if edit_block.attributes["time"].nil? or edit_block.attributes["time"] == "" %>display:none;<% end %>">
            请填写时间：<input type="input" name="fix_time_<%= edit_block.attributes["id"] %>"
                         id="fix_time_<%= edit_block.attributes["id"] %>" class="input_style validate-number"
                         value="<%= edit_block.attributes["time"] %>"/>分钟&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        <div class="paper_block">
          试卷模块描述：<%= f.text_area :description ,:cols=>"37",:rows=>"3",:class=>"textarea_style max-length-100" ,
            :value=>edit_block.elements["base_info"].elements["description"].text%>
        </div>
        <div><%= f.submit "更新" ,:class=>"submit_btn" %></div>
      <% end %>
    </div>
  </div>
</div>
