<div class="question_list_style_box">
  <div class="arrow" style="top:35px;"></div>
  <div class="question_pic_box" style="top:0px;">
    <div class="in">
      <%= form_for :problem ,:url=>"/problems/mavin_problem", :method => "post",
        :html => {:onsubmit => "return check_mavin_problem('#{mavin_question.attributes['id']}');" ,
                  :class => "required-validate"} do |f| %>
        <%= f.hidden_field :block_id ,:value=>mavin_question.attributes['id']  %>
        <%= f.hidden_field :paper_id ,:value=>@xml.attributes['id']  %>
        <input type="hidden" value="" name="real_type" id="real_type_<%= mavin_question.attributes['id'] %>"/>
        <div class="title">题面：</div>
        <div id="span_<%= mavin_question.attributes['id'] %>"></div>
        <input type="button" name="button" value="富文本" class="submit_btn"
               onclick="javascript:add_area('mavin_problem_title_<%= mavin_question.attributes['id'] %>', this);" />
         <%= f.text_area :title ,:id => "mavin_problem_title_#{mavin_question.attributes['id']}",
           :cols => "45",:rows => "8", :class => "required textarea_style" %>
         <%= f.submit "提交" ,:class=>"submit_btn" %>
       <% end %>
    </div>
  </div>
</div>

