<script type="text/javascript">
  KE.show({
    id : 'problem_title_<%= new_question.attributes['id'] %>',
    wyswygMode : false,
    skinType: 'tinymce',
    cssPath : '/kindeditor/examples/index.css',
    items : [
      'source', 'undo', 'redo','copy', 'paste',
      'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent',
      'specialchar', 'link', 'unlink', 'image', 'flash', 'media', '-',
      'fontname', 'fontsize', 'textcolor', 'bold',
      'italic', 'underline',  'table', 'hr'
    ]
  });
</script>
<div class="question_list_style_box" id="create_question_<%= new_question.attributes['id'] %>" style="display: none;">
  <div class="arrow" style="top:35px;"></div>
  <div class="question_pic_box" style="top:0px;">
    <div class="in">
      <%= form_for :problem ,:url=>"/problems", :method => "post" do |f| %>
        <%= f.hidden_field :block_id ,:value=>new_question.attributes['id']  %>
        <%= f.hidden_field :paper_id ,:value=>@xml.attributes['id']  %>
        <input type="hidden" value="" name="real_type" id="real_type_<%= new_question.attributes['id'] %>"/>
        <div class="title">题面：</div>
        <%= f.text_area :title ,:cols=>"45",:rows=>"8",:id=> "problem_title_#{new_question.attributes['id']}", :class=>"textarea_style" %>
        <div id="new_problem_<%= new_question.attributes['id'] %>">
        </div>
        <%= f.submit "提交" ,:class=>"submit_btn" %>
      <% end %>
    </div>
  </div>
</div>

