
<% sum=["一","二","三","四","五","六","七","八","九","十"] %>
<% index = 0 %>
<% @paper.paper_blocks.each do |block| %>

  <h1 class="biz_art_title"><%= sum[index] %>、<%= block.title %> (共<%= block.questions.count%>题，总分:<%= block.block_total_score %>分)|<input  type="button" value="添加题目" onclick="javascript:create_question(<%= block.id %>);"></input> </h1>
  <% index = index + 1 %>
        <%= render :partial=>"/papers/new_question_for_block",:object=>block  %>
          
  <div class="biz_art_list_box">
    <%= block.description %>
    <ul>
      <% block.questions.each do |question| %>
      <%= render :partial=>"/papers/question_info",:object=>question %>
        <li>
          <h2><%= question.title %></h2>
          <%  question.question_points.each do |point| %>
            <p><%= point.description  %></p>

            <input type="button" value="查看" style="float:right" onMouseOver="javascript:question_info(<%= question.id %>)" /> <%= link_to "| 编辑" ,"#"%><%= link_to "删除" ,"/questions/destory"%>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% point.question_attrs.each do |attr| %>
              <%= attr.key %>、 <%= attr.value %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div style="height:20px;"></div>
  </div>
<% end %>
<div class="clear"></div>




</div>