
<% sum=["一","二","三","四","五","六","七","八","九","十"] %>
<%  index=0 %>

<% @xml.elements['blocks'].each_element do |block|%>
  <h1 class="biz_art_title"><%= sum[index] %>、<%= block.elements['base_info'].elements['title'].text %> (共<%= block.attributes['total_num'] %>题，总分:<%= block.attributes['total_score'] %>分)<a href="javascript:void(0)" style="float:right" onClick="javascript:create_question(<%= block.attributes['id'] %>)">新建试题</a></h1>
  <%=  render :partial=>"papers/new_question" ,:object=>block %>
  <% index += 1 %>
  <div class="biz_art_list_box">
    <ul>
      <% block.elements['problems'].each do |problem| %>
        <li>
    <%#= render :partial=>"/papers/question_info",:object=>question %>
          <h2><a href="javascript:void(0)" onMouseOver="javascript:question_info(0)">fewgergehrthrthrthtrfwefwefsdfsdfegergergergerfwewefwefwgrgrthrt</a></h2>

          <p>fjwefiojweflkmgerlgjerrfger</p>

    <%# arguments={:question=>question,:point=>point,:block=>block,:attr_ids_array=>attr_ids} %>
    <%#= render :partial=>"/papers/edit_question",:object=>arguments %>
          <a href="javascript:void(0);" onClick="javascript:edit_question(0)" > &nbsp;编辑&nbsp; </a> <%= link_to "删除", "#", :method => "delete" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="clear"></div>

