<script type="text/javascript" charset="utf-8" src="/kindeditor/build/kindeditor.js"></script>
<% problem_size = 0 %>
<% sum=["一","二","三","四","五","六","七","八","九","十"] %>
<%  array_index=0 %>

<% @xml.elements['blocks'].each_element do |block|%>
  <h1 class="biz_art_title" id="block_show"><%= sum[array_index] %>、<%= block.elements['base_info'].elements['title'].text %> (共<%= block.attributes['total_num'] %>题，总分:<%= block.attributes['total_score'] %>分)
    <a href="javascript:void(0);" style="float:right" onClick="javascript:create_question(<%= block.attributes['id'] %>)">新建试题</a>
    <a href="javascript:void(0);" style="float:right" onClick="javascript:edit_block(<%= block.attributes['id'] %>)">修改模块</a>
  </h1>


<div class="title_list_style_box" style="display:none;" id="edit_block_<%= block.attributes["id"] %>">
    <div class="arrow" style="top:35px;"></div>
    <div class="block_pic_box" style="top:0px;">
      <div class="in">
        <div class="paper_block">
          试卷模块标题：<input type="text" class="input_style" name="block" size="39" value="一、单项选择题"/>
        </div>
        <div class="paper_block">
          试卷模块备注：<textarea cols="37" rows="3" class="textarea_style" name="block_desc">共10题，总分10分</textarea>
        </div>
        <div><input type="submit" value="更新" class="submit_btn"/></div>
      </div>
    </div>
  </div>


  <%=  render :partial=>"papers/new_question" ,:object=>block %>
  <% array_index += 1 %>
  <%  String  %>
  <div class="biz_art_list_box">
    <%= block.elements["base_info"].elements["description"].text %>
    <ul>
      <% if !block.elements['problems'].nil? %>
        <% problem_size = block.elements['problems'].children.size %>
        <% block.elements['problems'].each_element do |problem| %>
          <% if !problem.elements['title'].nil? %>
            <li>

              <%= render :partial=>"/papers/question_info",:object=>problem %>
              <%= render :partial=>"/papers/edit_problem",:object=>problem %>

              <h2><a href="javascript:void(0)" onMouseOver="javascript:question_info(<%= problem.attributes["id"].to_i %>)"><%= problem.elements['title'].text %></a></h2>
              <% problem.elements['questions'].each_element do |question| %>
                <% if !question.elements['description'].nil? %>
                  <p><%= question.elements['description'].text %></p>
                <% end %>
                <% if !question.elements['questionattrs'].nil? %>
                  <p><%= question.elements['questionattrs'].text %></p>
                <% end %>
              <% end %>
            </li>

            <div class="links">
              <%= form_for :delete,:html => {:name=>"delete_form_#{problem.attributes['id']}", :id =>"delete_form_#{problem.attributes['id']}"}, :url=>"/papers/problem_destroy" do |f|%>
                <%= f.hidden_field :xpath,:value=>problem.xpath %><%= f.hidden_field :paper_id,:value=>@xml.root.attributes["id"] %>
                <a href="javascript:void(0);" onClick="javascript:edit_problem(<%= problem.attributes["id"].to_i %>)" >编辑</a>&nbsp;|&nbsp;
                <a href="javascript:void(0);" onclick="javascript:document.getElementById('delete_form_<%= problem.attributes['id']%>').submit();">删除</a>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="clear"></div>
<script type="text/javascript">
<% (0..problem_size-1).each do |i|  %>
    KE.show({
      id : 'title_<%= i %>',
      skinType: 'tinymce',
      cssPath : './index.css',
      items : [
        'undo', 'redo','copy', 'paste',
        'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent',
        'specialchar', 'link', 'unlink', 'image', 'flash', 'media', '-',
        'fontname', 'fontsize', 'textcolor', 'bold',
        'italic', 'underline',  'table', 'hr'
      ]
    });
<% end %>
</script>

