
<% sum=["一","二","三","四","五","六","七","八","九","十"] %>
<% index_num = 0 %>
<% @paper.paper_blocks.each do |block| %>

  <% total_block_score = 0 %>
  <% block.block_question_relations.each do |relation| %>
    <% if relation.score != nil %>
      <% total_block_score = total_block_score+relation.score %>
    <% end %>
  <% end %>
  <%=  render :partial=>"papers/new_question_for_block" ,:object=>block%>
  <h1 class="biz_art_title"><%= sum[index_num] %>、<%= block.title %> (共<%= block.questions.count%>题，总分:<%= total_block_score %>分)<a href="javascript:void(0)" style="float:right" onClick="javascript:create_question(<%= block.id %>)">新建试题</a></h1>
  <% index_num +=1 %>
  <div class="biz_art_list_box">
    <ul>
      <% block.questions.each do |question| %>
        <li>

          <%= render :partial=>"/papers/question_info",:object=>question %>
          <h2><a href="javascript:void(0)" onMouseOver="javascript:question_info(<%= question.id %>)"><%= question.title %></a></h2>
          <% question.question_points.each do |point| %>
            <p><%=  point.description %></p>



            <% attr_ids=[] %>
            <%  index=0 %>
            <% point.question_attrs.each do |attr| %>
              <%= attr.key %>、 <%= attr.value %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%  attr_ids[index]=attr.id %>
              <%  index +=1 %>
            <% end %>
            <% arguments={:question=>question,:point=>point,:block=>block,:attr_ids_array=>attr_ids} %>
            <%= render :partial=>"/papers/edit_question",:object=>arguments %>
            <a href="javascript:void(0);" onClick="javascript:edit_question(<%= point.id %>)" > &nbsp;编辑&nbsp; </a> <%= link_to "删除", "/questions/#{question.id}", :method => "delete" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>

<% end %>


<div class="clear"></div>

