<% problem_size = 0 %>
<% sum=["一","二","三","四","五","六","七","八","九","十"] %>
<%  array_index=0 %>

<% @xml.elements['blocks'].each_element do |block|%>
  <h1 class="biz_art_title" id="block_show"><%= sum[array_index] %>、<%= block.elements['base_info'].elements['title'].text %> (共<%= block.attributes['total_num'] %>题，总分:<%= block.attributes['total_score'] %>分)
    <a href="javascript:void(0);" onClick="javascript:edit_block(<%= block.attributes['id'] %>)">修改模块</a>
  </h1>
  <%=  render :partial=>"papers/new_question" ,:object=>block %>
  <%= render :partial=>"/papers/edit_block" ,:object=>block %>
  <% array_index += 1 %>
  <div class="biz_art_list_box">
    <%= block.elements["base_info"].elements["description"].text %>
    <ul>
      <% block.elements['problems'].each_element do |problem| %>
        <% if !problem.elements['title'].nil? %>
          <li>
            <%= render :partial=>"/papers/question_info",:object=>problem %>
            <%= render :partial=>"/papers/edit_problem",:object=>problem %>
            <h2><a href="javascript:void(0)" onclick="javascript:question_info(<%= problem.attributes["id"].to_i %>)"><%= problem.elements['title'].text %></a></h2>
            <% problem.elements['questions'].each_element do |question| %>
              <% if !question.elements['description'].nil? %>
                <p><%= question.elements['description'].text %></p>
              <% end %>
            <% end %>
          </li>
          <div class="links">
            <%= form_for :delete,:html => {:name=>"delete_form_#{problem.attributes['id']}", :id =>"delete_form_#{problem.attributes['id']}"}, :url=>"/papers/problem_destroy" do |f|%>
              <%= f.hidden_field :xpath,:value=>problem.xpath %><%= f.hidden_field :paper_id,:value=>@xml.root.attributes["id"] %>
              <a href="javascript:void(0);" onClick="javascript:edit_problem(<%= problem.attributes["id"].to_i %>)" >编辑</a>&nbsp;|&nbsp;
              <a href="javascript:void(0);" onclick="javascript:document.getElementById('delete_form_<%= problem.attributes['id']%>').submit();">删除</a>
            <% end %>
          </div>
          <div class="clear"></div>
        <% end %>
      <% end %>
      <li>
        <input type="button" value="新建试题" class="submit_btn"  onClick="javascript:choose_question_type(<%= block.attributes['id'] %>)"/>
        <div style="display: none;" id="choose_que_type_div_<%= block.attributes['id'] %>">
          <%= render :partial => "choose_question_type", :object => block %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
<div class="clear"></div>

<%= render :partial=>"/papers/new_module" %>
<h1 class="biz_art_title" id="block_show">
  <input type="button" value="增加试卷模块" class="submit_btn" onclick="javascript:new_module()"/>
</h1>

