<table>
  <colgroup>
    <col width="20"/>
    <col width="60" />
    <col width="160" />
    <col width="60" />
    <col width="80" />
    <col width="50" />
    <col width="50" />
    <col width="220" />
    <col width="" />
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>试卷编号</th>
      <th>标题</th>
      <th>所属分类</th>
      <th>创建日期</th>
      <th>试题数</th>
      <th>总分</th>
      <th>备注</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td>
          <input type="checkbox" name="check_b" value="<%= paper.id %>"
                 onclick="javascript:create_exam('check_b')" <% unless paper.paper_js_url %>disabled<% end %> />
        </td>
        <td><%= paper.id  %></td>
        <td>  <%= paper.title  %></td>
        <td>  <%= paper.title  %></td>
        <td> <%= paper.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td> <%= paper.total_score %></td>
        <td> <%= paper.total_question_num %></td>
        <td> <%= paper.description  %></td>
        <td><a><%= link_to " 查看" ,paper %>
            &nbsp;|&nbsp; <%= link_to "删除 ", paper,:method=>:delete %></a></td>
      </tr>
    <% end  %>
    <tr>
      <td class="allselect_box" colspan="9">
        <input type="checkbox" name="check_box" onclick=sltall(this.checked,"check_b") />&nbsp;&nbsp;全选
      </td>
    </tr>
  </tbody>
</table>