<div id="sing_chose_<%= question_type.attributes['id'] %>" style="display: none;">
  <%= render :partial => "/common/single_choose" %>
</div>
<div id="more_chose_<%= question_type.attributes['id'] %>" style="display: none;">
  <%= render :partial => "/common/more_choose" %>
</div>
<div id="fill_blank_<%= question_type.attributes['id'] %>" style="display: none;">
  <%= render :partial => "/common/fill_blank" %>
</div>
<div id="judge_<%= question_type.attributes['id'] %>" style="display: none;">
  <%= render :partial => "/common/judge" %>
</div>
<div id="colligation_<%= question_type.attributes['id'] %>" style="display: none;">
  <%= render :partial => "/common/colligation" %>
</div>