<script type="text/javascript" src="/javascripts/plugin_assets/My97DatePicker/WdatePicker.js" ></script>
<div class="main_box_back">
  <h2><span>试卷列表</span><div class="right"><%= link_to "新建卷子","/papers/new_step_one" %>|&nbsp;&nbsp;&nbsp;<%= link_to "创建考试",'new_exam_one' %></div></h2>
  <div class="in">
    <div class="paper_search">
     <% form_for :found,  :url => "/papers/search", :method => 'get' do %>
        试卷分类：
        <select>
          <option>--请选择--</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;创建时间：
        从&nbsp;<input class="input_style" type="text" onClick="WdatePicker();" readonly name="mintime" id="mintime" value="" />&nbsp;
        到&nbsp;<input class="input_style" type="text" onClick="WdatePicker();" readonly name ="maxtime" id ="maxtime" value=""  />
        <div class="clear"></div>
        试卷标题&nbsp;&nbsp; &nbsp;&nbsp;<input class="input_style" type="text"  name="search" id="mintime" value="" />
        <%= submit_tag "查询",:title=>nil %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color="red"><%= flash[:nosearch] %></font><%= flash[:slector] %>
    <% end %>
    </div>
    <div class="clear"></div>
    <table>
      <colgroup>
        <col width="20"/>
        <col width="60" />
        <col width="210" />
        <col width="60" />
        <col width="80" />
        <col width="60" />
        <col width="240" />
        <col width="" />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>试卷编号</th>
          <th>标题</th>
          <th>所属分类</th>
          <th>创建日期</th>
          <th>试题数</th>
          <th>备注</th>
          <th></th>
        </tr>
      </thead>  
      <tbody>
     <% form_for :deleteall,  :url => "/papers/delete_all", :method => :post do|f| %>
        <% @papers.each do |paper| %>
          <tr>
            <td><input type="checkbox" name="check_b" value="<%= paper.id %> "  onclick="javascript:create_exam()"/></td>
            <td><%= paper.id  %></td>
            <td>  <%= paper.title  %></td>
            <td>  <%= paper.title  %></td>
            <td> <%= paper.created_at.strftime("%Y-%m-%d")  %></td>
            <td> <%= paper.total_question_num %></td>
            <td> <%= paper.description  %></td>
            <td><a><%= link_to " 查看" ,paper %>
                &nbsp;|&nbsp; <%= link_to "删除 ", paper,:method=>:delete %></a></td>
          </tr>
        <% end  %>
        <tr>       
          <td class="allselect_box" colspan="8">
            <input type="checkbox" name="check_box" onclick=sltall(this.checked) />&nbsp;&nbsp;全选&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to  "删除选中试卷",'delete_all' %><%=f.hidden_field :delete_all, :value =>""  %>
          </td>
        </tr>
        <% end  %>
      </tbody>
    </table>
    <div class="pagination_box">
      <tr>
      <div class="pagination">
        <%=will_paginate @papers ,:previous_label=>"«", :next_label=>"»", :inner_window => 1 %></div>
      <span class="disabled prev_page"><div>当前第<%= @papers.current_page%>页 | 共 <%= @papers.total_entries %> 条 | 共 <%= @papers.total_pages %> 页</div></span>
      </tr>

    </div>
  </div>
    
</div>
