<ul class="new_biz">
  <li>添加试卷</li>
</ul>
<div class="main_box_back">
  <%= form_for :paper ,:url=>"/papers/create_step_one", :method => "post",
    :html => {:name => "paper_form", :id => "paper_form", :class => "required-validate",
    :onsubmit => "return sumbit_form('paper_form', 'paper_submit', 'spinner_for_submit')"} do |f|%>
    <h2><span>添加试卷</span><div class="right"><%= link_to "返回试卷列表","/papers" %></div></h2>
    <%= render :partial=>"/common/paper_info" %>
    <div class="in">
      <div class="in">
        <%= f.submit "下一步" ,:class=>"submit_btn" %>
        <%= image_tag "ajax-loader.gif", :id => "spinner_for_submit", :style => "display:none" %>
      </div>
    <% end %>
  </div>
</div>