<!--<script type="text/javascript" charset="utf-8" src="/kindeditor/build/kindeditor.js"></script>-->
<script type="text/javascript">
  var back_server_path="<%= Constant::SERVER_PATH %>";
</script>
<script type="text/javascript" charset="utf-8" src="/javascripts/nicEdit/nicEdit.js"></script>


  <%= javascript_include_tag 'jeff_paper_validate' %>
  <%= render :partial=>"/common/paper_items_info" %>
  <div id="paper_edit_info" style="display:none;">
    <%= render :partial=>"/papers/edit_paper_info" %>
  </div>
  <%= render :partial=>"/papers/paper_blocks" %>

