<ul class="tab_biz">
  <li class="actived"><a href="#"><%= @paper.title %></a></li>
</ul>
<div class="soso">
  <div>试卷编号：<%= @paper.id %></div>
  <div>录入：<%= @paper.user.name %></div>
  <div>出卷时间：<%= @paper.created_at.strftime("%Y年%m月%d日%H时%M分") %></div>
  <div>总题数：<%= @paper.total_question_num %></div>
  <div>备注：<%= @paper.total_question_num %></div>

  <input type="submit" value="修改基本信息" class="submit_btn" onclick="javascript:window.location.href='/papers/<%= @paper.id %>/edit'"/>
  <input type="submit" value="增加试卷模块" class="submit_btn" onclick="javascript:window.location.href='/papers/<%= @paper.id %>/add_module'"/>
</div>

  <%= render :partial=>"/papers/paper_blocks" %>

