<input type="hidden" name="single_question" id="single_question" value=""/>
<input type="hidden" name="problem[real_type]" value="4"/>
<div id="real_single_question"></div>
<div id="remote_que_div"></div>
<div id="choose_coll_que" style="display: none;">
  <div class="title">请选择题目类型</div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="colligation_type_radio"
           value="<%= Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>" id="radio1"
           onclick="javascript:item_pools_colligation_question_type(<%= Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>);"/>单选题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="colligation_type_radio"
           value="<%= Problem::QUESTION_TYPE[:MORE_CHOSE] %>" id="radio2"
           onclick="javascript:item_pools_colligation_question_type(<%= Problem::QUESTION_TYPE[:MORE_CHOSE] %>);"/>多选题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="colligation_type_radio"
           value="<%= Problem::QUESTION_TYPE[:JUDGE] %>" id="radio3"
           onclick="javascript:item_pools_colligation_question_type(<%= Problem::QUESTION_TYPE[:JUDGE] %>);"/>判断题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="colligation_type_radio"
           value="<%= Problem::QUESTION_TYPE[:SINGLE_CALK] %>" id="radio4"
           onclick="javascript:item_pools_colligation_question_type(<%= Problem::QUESTION_TYPE[:SINGLE_CALK] %>);"/>填空题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="colligation_type_radio"
           value="<%= Problem::QUESTION_TYPE[:CHARACTER] %>" id="radio6"
           onclick="javascript:item_pools_colligation_question_type(<%= Problem::QUESTION_TYPE[:CHARACTER] %>);"/>简答题
  </div>
  <div style="float: left;padding-right: 20px;">
    <input type="radio" name="colligation_type_radio"
           value="<%= Problem::QUESTION_TYPE[:MORE_BLANKS] %>" id="radio7"
           onclick="javascript:item_pools_colligation_question_type(<%= Problem::QUESTION_TYPE[:MORE_BLANKS] %>);"/>完型填空题
  </div>
</div>
<div class="clear"></div>
<div id="choose_coll_que_link">
  <a href="javascript:void(0);" onclick="javascript:item_pools_show_choose_coll_que();">+增加小题</a>
</div>



