<div id="item_pools_edit" style="position:absolute;z-index:999;padding:10px;float:left;margin-left:150px;background-color:#fff;width:450px;border:#ccc solid 1px;">
  <input type="hidden" name="edit_problem_<%= edit_problem.id %>" id="single_question_<%= edit_problem.id %>" value=""/>
  <div>
    <div>
      <%= form_for :problem , :url => "/item_pools/update_problem",
        :id=>"edit_form_#{edit_problem.id}",
        :html => {:onsubmit => "return item_pools_generate_edit_questions('#{edit_problem.id}', '#{edit_problem.types}')"} do |f| %>
        <div><%= f.hidden_field :problem_id,:value=>"#{edit_problem.id}" %>
          <a href="javascript:void(0);" style="float:right;" onclick="javascript:$('edit_div').innerHTML='';" ><font color="blue">&nbsp;关闭&nbsp;</font></a></div>
        <div class="clear"></div>
        <div>题面： </div>
        <div><input type="button" name="button" value="富文本" class="submit_btn"
                    onclick="javascript:add_area('edit_title_<%= edit_problem.id %>', this);" /></div>
         <% title = edit_problem.complete_title.nil? ? edit_problem.title : edit_problem.complete_title %>
          <%= f.text_area :title ,:cols=>"60", :rows=>"5", :class=>"textarea_style",
            :id => "edit_title_#{edit_problem.id}", :value=>title %>
        <br/>
        <% question_ids = []
        edit_problem.questions.each do |question|
          question_ids << question.id
        %>
          <% if edit_problem.types == Problem::QUESTION_TYPE[:COLLIGATION] %>
            <div id="question_list_<%= question.id %>" style="padding-left: 10px;width: 80%;">
              <input type="hidden" name="make_edit_<%= question.id %>" id="make_edit_<%= question.id %>" value="0"/>
              <div id="remote_question_<%= question.id %>">
                <%= render :partial => "/item_pools/show_single_question", :object => question %>
                <div class="chose_add">
                  <a href="javascript:void(0);"
                     onclick="javascript:ajax_item_pools_edit_question(<%= question.id %>)">编辑</a>
                  <a href="#">删除</a>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          <% else %>
            <%= render :partial => "/item_pools/edit_other_question", :object => question %>
          <% end %>
        <% end %>
        <input type="hidden" name="all_question_ids_<%= edit_problem.id %>"
               id="all_question_ids_<%= edit_problem.id %>" value="<%= question_ids.to_s %>" />
        <input type="hidden" name="edit_coll_question_<%= edit_problem.id %>"
               id="edit_coll_question_<%= edit_problem.id %>" value=""/>
        <%= f.submit "提交" , :class=>"submit_btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= draggable_element("item_pools_edit", :revert => false) %>
