<div class="products_list_style_box">
  <input type="hidden" name="edit_problem_<%= edit_problem.id %>" id="single_question_<%= edit_problem.id %>" value=""/>
  <div class="arrow" style="top:10px;"></div>
  <div class="question_pic_box" style="top:0px;">
    <div class="in">
      <%= form_for :problem , :url => "/item_pools/update_problem",
        :id=>"edit_form_#{edit_problem.id}",
        :html => {:onsubmit => "return generate_edit_questions('#{edit_problem.id}', '#{edit_problem.types}')"} do |f| %>
        <%= f.hidden_field :problem_id,:value=>"#{edit_problem.id}" %>
        <div class="title">题面：</div>
        <input type="button" name="button" value="富文本" class="submit_btn"
               onclick="javascript:add_area('edit_title_<%= edit_problem.id %>', this);" />
        <% title = edit_problem.complete_title.nil? ? edit_problem.title : edit_problem.complete_title %>
        <%= f.text_area :title ,:cols=>"45", :rows=>"3", :class=>"textarea_style",
          :id => "edit_title_#{edit_problem.id}", :value=>title %>    
        <% question_ids = []
        edit_problem.questions.each do |question|
          question_ids << question.id
        %>
          <% if edit_problem.types == Problem::QUESTION_TYPE[:COLLIGATION] %>
            <div id="question_list_<%= question.id %>">
              <input type="hidden" name="make_edit_<%= question.id %>" id="make_edit_<%= question.id %>" value="0"/>
              <div style="border: 1px solid #ccc;padding-bottom: 5px;" id="remote_question_<%= question.id %>">
                <%= render :partial => "/item_pools/show_single_question", :object => question %>
                <div class="chose_add">
                  <a href="javascript:void(0);"
                     onclick="javascript:edit_question(<%= question.id %>)">编辑</a>
                  <a href="#">删除</a>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          <% else %>
          <%= render :partial => "/item_pools/edit_other_question", :object => question %>
          <% end %>
        <% end %>
        <input type="hidden" name="all_question_ids_<%= edit_problem.id %>"
               id="all_question_ids_<%= edit_problem.id %>" value="<%= question_ids.to_s %>" />
        <input type="hidden" name="edit_coll_question_<%= edit_problem.id %>"
               id="edit_coll_question_<%= edit_problem.id %>" value=""/>
        <%= f.submit "提交" , :class=>"submit_btn" %>
      <% end %>
    </div>
  </div>
</div>
