<div id="item_pools_show" style="position:absolute;z-index:999;padding:10px;float:left;left:650px;background-color:#A9E4E9;">
  <span style="float:left;font-size:large;color: #D01214;font: bold;"><%= item_pools_show.title %>title</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="javascript:void(0);" onclick="javascript:$('show_div').innerHTML='';" style="float:right;">关闭</a>&nbsp;&nbsp;<br/><br/>
  <p>类型：<% if item_pools_show.types == 0 %>单选题<%end%><% if item_pools_show.types == 1 %>多选题<%end%><% if item_pools_show.types == 2 %>判断题<%end%><% if item_pools_show.types == 3 %>填空题<%end%><% if item_pools_show.types == 4 %>综合题<%end%><% if item_pools_show.types == 5 %>简答题<%end%>&nbsp;&nbsp;&nbsp;&nbsp;分类：<%= item_pools_show.category.name %>&nbsp;&nbsp;</p>
  <% item_pools_show.questions.each do |question| %>
<hr/>
  <div class="question">
  <% if question.description %>小题描述：<% end %>
  <%= question.description if question.description %>
  <% attrs_str = question.question_attrs
  attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
  correct_type = question.correct_type
  answer = question.answer
  answers = (answer.nil?) ? [] : answer.split(";|;")
  (0..attrs_array.length-1).each do |i|
    is_answer = answers.include?(attrs_array[i])
  %>
    <div class="attr" <% if is_answer %>style="border: 1px green solid;"<% end %>>

      <% if !correct_type.nil? %>
        <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
          <input type="checkbox" name="question_attr_<%= question.id %>"
                 id="question_attr_<%= i %>"  <% if is_answer %>checked="true"<% end %> />
               <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
          <input type="radio" name="question_attr_<%= question.id %>"
                 id="question_attr_<%= i %>" <% if is_answer %>checked="true"<% end %> />
               <% end %>
        <label><%= attrs_array[i] %></label>
      <% end %>
    </div>
  <% end if attrs_array and attrs_array.any? %>
  <%= if correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE]
    "答案：" +(answers[0].to_i==0? "错" : "对")
  elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] or correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER]
    "答案：" + answers[0].to_s
  end %>
</div>

<div class="title">解析：<br/>
  <% analysis = question.analysis %>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= if analysis
    analysis
  end %>
</div>
<div class="tag">知识点标签：
  <% question.tags.each do |tag| %>
  &nbsp;<%= tag.name %>&nbsp;
  <% end %>
</div>


  <% end %>


</div>
<%= draggable_element("item_pools_show", :revert => false) %>