<div id="item_pools_show" style="position:absolute;z-index:999;margin-left:150px;float:left;background-color:#fff;width:450px;border:#ccc solid 1px;">
  <div>
    <div style="float:right;">
      <a href="javascript:void(0);" onclick="javascript:$('show_div').innerHTML='';" style="float:right;"><font color="blue">&nbsp;关闭&nbsp;</font></a>
      <a href="javascript:void(0);" onclick="javascript:ajax_item_pools_edit_problem(<%=  item_pools_show.id %>);" style="float:right;"><font color="blue">&nbsp;编辑&nbsp;</font></a>
    </div>

  </div>
  <div class="clear"></div>
  <div>
    <div style="padding-left:10px;">
      <% if item_pools_show.types == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>单选题
      <% elsif item_pools_show.types == Problem::QUESTION_TYPE[:MORE_CHOSE] %>多选题
      <% elsif item_pools_show.types == Problem::QUESTION_TYPE[:JUDGE] %>判断题
      <% elsif item_pools_show.types == Problem::QUESTION_TYPE[:SINGLE_CALK] %>填空题
      <% elsif item_pools_show.types == Problem::QUESTION_TYPE[:COLLIGATION] %>综合题
      <% elsif item_pools_show.types == Problem::QUESTION_TYPE[:CHARACTER] %>简答题
      <% elsif item_pools_show.types == Problem::QUESTION_TYPE[:MORE_BLANKS] %>完型填空题
      <% end%>
      &nbsp;&nbsp;&nbsp;[<%= item_pools_show.category.name %>]
    </div>
    <div style="word-wrap:break-word; word-break:break-all;">&nbsp;&nbsp;&nbsp;&nbsp;<%= item_pools_show.title.html_safe %></div>
  </div>
  <br/>
  <div style="padding-left: 10px;width: 80%;">
    <% item_pools_show.questions.each_with_index do |question, index| %>
      <div>
        <div><%= "#{index+1}&nbsp;".to_s.html_safe + question.description if question.description %></div>
        <% attrs_str = question.question_attrs
        attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
        correct_type = question.correct_type
        answer = question.answer
        answers = (answer.nil?) ? [] : answer.split(";|;")
        (0..attrs_array.length-1).each do |i|
          is_answer = answers.include?(attrs_array[i])
        %>
          <div class="attr" <% if is_answer %>style="border: 1px green solid;"<% end %>>

            <% if !correct_type.nil? %>
              <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] or
                correct_type.to_i == Problem::QUESTION_TYPE[:MORE_BLANKS] %>
                <input type="checkbox" name="question_attr_<%= question.id %>"
                       id="question_attr_<%= i %>"  <% if is_answer %>checked="true"<% end %> />
                     <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
                <input type="radio" name="question_attr_<%= question.id %>"
                       id="question_attr_<%= i %>" <% if is_answer %>checked="true"<% end %> />
              <% end %>
              <label><%= attrs_array[i] %></label>
            <% end %>
          </div>
        <% end if attrs_array and attrs_array.any? %>
        <%= if correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE]
          "答案：" +(answers[0].to_i==0? "错" : "对")
        elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] or correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER]
          "答案：" + answers[0].to_s
        end %>
      </div>

      <div>解析：
        <%= question.analysis if question.analysis %>
      </div>
      <div>知识点标签：
        <% question.tags.each do |tag| %>
          &nbsp;<%= tag.name %>&nbsp;
        <% end %>
      </div>
    <% end %>
  </div>

</div>
<%= draggable_element("item_pools_show", :revert => false) %>