<div class="create_question">
  <div class="question_pic_box" style="top:0px;margin-left:270px;margin-top:250px;">
    <div class="in">
      <%= form_for :problem ,:url=>"/item_pools/item_pools_mavin_problem", :method => "post",
        :html => {:class => "required-validate", :id => "problem_form", :name => "problem_form",:onsubmit=>"return item_pools_check_mavin_problem();"} do |f| %>
        <input type="hidden" value="" name="real_type" id="real_type"/>
        <div class="title">题面：</div>
        <div id="span"></div>
        <input type="button" name="button" value="富文本" class="submit_btn"
               onclick="javascript:add_area('mavin_problem_title', this);" />
               <%= f.text_area :title ,:id => "mavin_problem_title",
                 :cols => "45",:rows => "8", :class => "required textarea_style" %>
                  <br/> 题目种类：<%= render :partial=>"/item_pools/categories" %><br/>
               <%= f.submit "提交" ,:class=>"submit_btn" %>
               <%= image_tag "ajax-loader.gif", :id => "spinner", :style => "display:none" %>
       <% end %>
    </div>
  </div>
</div>

