<table>
  <colgroup>
    <col width="40"/>
    <col width="300" />
    <col width="60" />
    <col width="150" />
    <col width="100" />

  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>题目描述</th>
      <th>类型</th>
      <th>更新日期</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%=form_for :commodity,:url=>"/problems/des" do %>
    <% @problems.each do |problem| %>
    <div>
      <tr>
        <td><input type="checkbox" name="check_b" value="<%= problem.id %>"onclick="javascript:create_exam('check_b')" /></td>
        <td><%= link_to "#{problem.title}","javascript:void(0);" ,:onclick=>"javascript:ajax_item_pools_problem_info(#{problem.id});" %></td>
        <td><% if problem.types == 0 %>单选题<%end%><% if problem.types == 1 %>多选题<%end%><% if problem.types == 2 %>判断题<%end%><% if problem.types == 3 %>填空题<%end%><% if problem.types == 4 %>综合题<%end%><% if problem.types == 5 %>简答题<%end%></td>
        <td> <%= problem.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><a><%= link_to " 编辑" ,"javascript:void(0);" ,:onclick=>"javascript:ajax_item_pools_edit_problem(#{problem.id});" %>&nbsp;|&nbsp; <%= link_to "删除 ", problem,:confirm=>"确认删除么？",:method=>:delete %></a></td>
      </tr>
    </div>
    <div id="show_div"></div>
    <div id="edit_div"></div>
    <% end  %>
    <tr>
      <td class="allselect_box" colspan="9">
        <input type="checkbox" name="check_bb" onclick=stall(this.checked,"check_b") />&nbsp;&nbsp;全选
        <input type="submit" id="exam_g" disabled="true" value="批量删除" />
      </td>
    </tr>
    <input id="exam_getvalue" name="exam_getvalue" type="hidden" value=""/> 
     <% end  %>
  </tbody>
</table>
