<script type="text/javascript" src="/javascripts/plugin_assets/My97DatePicker/WdatePicker.js" ></script>
<div class="main_box_back">
  <h2><span>题库列表</span>
    <div class="right">
      <div>
        <%= link_to "新建题目","/item_pools/new" %>|&nbsp;&nbsp;&nbsp;
      </div>
      <div>
          <%= link_to "组卷","/item_pools/paper_item" %>
      </div>
      <div class="clear"></div>
    </div>
  </h2>
  <div class="in">
    <div class="paper_search">
      <%= form_for :found,  :url => "/item_pools/search_condition", :method => 'post' do %>
        <%= render :partial => "problem_search" %>
      <% end %>
    </div>
    <div class="clear"></div>
    <%= render :partial => "problem_list" %>
    <div class="pagination_box">
      <%=  will_paginate @problems ,:previous_label=>"«", :next_label=>"»", :inner_window => 1 %>
    </div>
  </div>

</div>
