<script type="text/javascript" charset="utf-8" src="/javascripts/nicEdit/nicEdit.js"></script>

<div class="main_box_back">
  <h2><span>创建题目</span></h2>
  <div id="choose_type">
    <div style="float: left;padding-right: 20px;">
      <input type="radio" name="type_radio"
             value="<%= Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>" id="radio1" checked />单选题
    </div>
    <div style="float: left;padding-right: 20px;">
      <input type="radio" name="type_radio"
             value="<%= Problem::QUESTION_TYPE[:MORE_CHOSE] %>" id="radio2" />多选题
    </div>
    <div style="float: left;padding-right: 20px;">
      <input type="radio" name="type_radio"
             value="<%= Problem::QUESTION_TYPE[:JUDGE] %>" id="radio3" />判断题
    </div>
    <div style="float: left;padding-right: 20px;">
      <input type="radio" name="type_radio"
             value="<%= Problem::QUESTION_TYPE[:SINGLE_CALK] %>" id="radio4" />填空题
    </div>
    <div style="float: left;padding-right: 20px;">
      <input type="radio" name="type_radio"
             value="<%= Problem::QUESTION_TYPE[:COLLIGATION] %>" id="radio5" />综合题
    </div>
    <div style="float: left;padding-right: 20px;">
      <input type="radio" name="type_radio"
             value="<%= Problem::QUESTION_TYPE[:CHARACTER] %>" id="radio" />简答题
    </div>
    <div class="clear"></div>
    <input type="button" value="确定" class="submit_btn"
           onClick="javascript:item_pools_create_question();"/>
    <input type="button" value="取消" class="submit_btn"
           onClick="javascript:window.location.href='/item_pools';"/>
    <input type="button" value="新建专家试题" class="submit_btn"
           onClick="javascript:item_pools_mavin_question();"/>
  </div>

  <br/><div class="clear" />
  <div id="mavin_question"></div>
  <div id="create_question" style="display:none;">
    <div style="padding-left:10px;">
      <div>
        <%= form_for :problem ,:url => "/item_pools", :method => "post",
          :html => {:onsubmit=>"return item_pools_new_problem_validate();", :class => "required-validate"} do |f| %>
          <input type="hidden" value="" name="real_type" id="real_type"/>
          <div>题面：</div>
          <div><input type="button" name="button" value="富文本" class="submit_btn"
                 onclick="javascript:add_area('problem_title', this);" /></div>
                 <%= f.text_area :title ,:cols=>"45",:rows=>"8",
                   :id=> "problem_title", :class=>"required textarea_style" %>
          <br/> 题目种类：<%= render :partial=>"/item_pools/categories" %><br/>
          <div id="new_question">
          </div>
          <%= f.submit "提交" ,:class=>"submit_btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>