<div class="border">
  <% form_for :paper,:url=>"/back/create" do |f| %>
    <font color="green">基本信息：</font><br /><br />
    标题：<%= f.text_field :paper_title,:value=>"期中考试" %>&nbsp|&nbsp;类型：<%= f.text_field :paper_type,:value=>"数学" %>&nbsp|&nbsp;组卷人：<%= f.text_field :paper_creater,:value=>"cookie[:user_id],修改成隐藏" %><br/><br/>
    总分：<%= f.text_field :paper_total_score,:value=>100 %>&nbsp|&nbsp;题数：<%= f.text_field :paper_total_question_num %><br /><br />
    描述：<%= f.text_area :paper_describe ,:size=>"40"%>
    <hr /><br/>
    <font color="green">模块信息：</font><br /><br />
    试卷：<%= f.text_field :block_paper_id,:value=>"paper_id,修改成隐藏" %>
    标题：<%= f.text_field :block_title,:value=>"单项选择题" %>&nbsp|&nbsp;
  <% end %>
</div>

<br/><br/><br/>
<div class="border">
  <font color="green">创建块</font><br /><br /><br />
  所属试卷：<input type="text" value="paper.id,隐藏">&nbsp;&nbsp;&nbsp;类型：<input type="text" value="选择题"> <br/><br />
  组卷人：<input type="text" value="user.id">&nbsp;&nbsp;&nbsp;描述：<input type="text"><br /><br />
  块总分：<input type="text"><br/><br/>
  <input type="button" value="确认">
</div>
<br/>
------- 转入块试题创建页面 ，建立block_question_relations----------
<br/><br/>
<div class="border">
  <font color="green">创建试题</font><br /><br /><br />
  所属学科： <input type="text" value="数学">
  类型：<select name="type">
    <option value="选择题" selected="selected">选择题</option>
    <option value="填空题">填空题</option>
    <option value="是非题">是非题</option>
    <option value="问答题">问答题</option>
  </select><br/><br />
  标题：<input type="text" value="什么是RUBY语言？">&nbsp;&nbsp;&nbsp;已被使用?：<input type="text" value="boolean,隐藏"><br /><br />
  <input type="button" value="建下一题"><input type="button" value="全部完成">
</div>
