<div class="products_list_style_box" id="question_info_<%= single_question.attributes["id"].to_i %>" style="display:none">
  <div class="arrow" style="top:35px;"></div>
  <div class="big_pic_box" style="top:0px;">
    <div class="in">
      <div class="title">
        <div style="float:left;display: inline;width:75%;">
          <%= single_question.elements["title"].text.to_s.html_safe %>
        </div>
        <div style="float:left;display: inline;width:24%;">
          <%= form_remote_tag :method => "post", :update => "collection_div",
          :url => "/user/collections?paper_id=#{@doc.attributes["id"]}&examination_id=#{@doc.elements["paper"].attributes["id"]}&problem_id=#{single_question.attributes["id"]}" do -%>
          <input type="hidden" name="problem_content_<%= single_question.attributes["id"] %>" value="<%= single_question.to_s %>" />
          <input type="submit" name="collection" id="collection" value="收藏" class="submit_btn" />
          <% end -%>
        </div>
        <div class="clear"></div>
      </div>
      <% single_question.elements["questions"].each_element do |question| %>
        <%= render :partial => "/user/exam_users/question_with_answer", :object => question %>
      <% end %>
    </div>
  </div>
</div>