<div class="products_list_style_box" id="question_info_<%= single_question.attributes["id"].to_i %>" style="display:none"  >
  <div class="arrow" style="top:35px;"></div>
  <div class="big_pic_box" style="top:0px;">
    <div class="in">
      <div class="title"><%= single_question.elements["title"].text %></div>
      <% single_question.elements["questions"].each_element do |question| %>
        <%= render :partial => "/common/show_single_question", :object => question %>
        <div class="title">
          <div>考生答案：<%= question.attributes["user_answer"] %></div>
        </div>
        <div class="title">
        得分：<%= question.attributes["user_score"] %>
        </div>
      <div class="title">
        得分理由：<%= question.attributes["score_reason"] %>
      </div>
      <% end %>
    </div>
  </div>
</div>
