<script type="text/javascript">

</script>
<div class="main_box_back">
  <h2><span>综合训练列表</span></h2>
  <table style="text-align:center">
    <thead>

      <tr>
        <th width="280" style="text-align:center">标题</th>
        <th width="100" style="text-align:center">所属分类</th>
        <th width="210" style="text-align:center">创建日期</th>
        <th width="80" style="text-align:center">试题数</th>
        <th width="80" style="text-align:center">总分</th>
      </tr>
    </thead>
    <tbody>
      <% if @combine_practices.nil? %>
      <td align="center" colspan="8">目前您还没有综合训练，您可以去试卷管理 <a href="/papers">安排综合训练</a></td>
    <%else%>
      <% @combine_practices.each do |combine_practice| %>
        <tr>

          <td style="text-align:center"><%= combine_practice.title %></td>
          <td style="text-align:center"><%= combine_practice.papers[0].category.name %></td>
          <td style="text-align:center"><%= combine_practice.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
          <td style="text-align:center"><%= combine_practice.papers[0].total_question_num %></td>
          <td style="text-align:center"><%= combine_practice.papers[0].total_score %></td>
        </tr>
      <%end%>
    <%end%>
    </tbody>
  </table>
</div>





