<td><input  size="30"    id="name_<%= @exam_rater.id %>" name="name" value="<%= @exam_rater.name  %>" /></td>
<td><input  size="30" id="miblephone_<%= @exam_rater.id %>" name="mobilephone" value="<%= @exam_rater.mobilephone %>"/></td>
<td><input size="30" id="email_<%= @exam_rater.id %>" name="email" value="<%= @exam_rater.email %>"/></td>
<td colspan='6'><input type="button" value="确定" onclick="javascript:edit_exam('tr_exam_rater','exam_raters','<%= @exam_rater.id  %>','update_exam_rater');"/></td>
