<td ><input  size="30"    id="name_<%= @exam_user.id %>" name="name" value="<%= @user.name  %>" /></td>
<td ><input  size="30" id="miblephone_<%= @exam_user.id %>" name="mobilephone" value="<%= @user.mobilephone %>"/></td>
<td ><input size="30" id="email_<%= @exam_user.id %>" name="email" value="<%= @user.email %>"/></td>
<td><input type="button" value="确定" onclick="javascript:edit_exam('tr_exam_user','exam_users','<%= @exam_user.id  %>','update_exam_user');"/></td>
