<table>
  <colgroup>
    <col width="200"/>
    <col width="200" />
    <col width="200" />
    <col width="60" />
  </colgroup>
  <thead>
    <tr>
      <th>姓名</th>
      <th>手机号码</th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="rater_table">
    <% if @exam_raters.blank? %>
      <tr id="1">
        <td colspan="4">
          <%= form_remote_tag :url => "/exam_raters/create_exam_rater" , :method => "get",
            :html => {:class => "required-validate"}, :update => "exam_rater_list"  do -%>
            <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
            <table>
              <tr>
                <td><input type="text" name="infoname" id="infoname1" class="required" size="30"/></td>
                <td><input type="text" name="infomobile" id="infomobile1" class="required" size="30"/></td>
                <td><input type="text" name="infoemail" id="infoemail1" class="required" size="30"/></td>
                <td><button type="submit">创建</button></td>
              </tr>
            </table>
          <% end -%>
        </td>
      </tr>
      <tr id="2">
        <td colspan="4">
          <%= form_remote_tag :url => "/exam_users/create_exam_user" , :method => "get",
            :html => {:class => "required-validate"}, :update => "exam_rater_list"  do -%>
            <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
            <table>
              <tr>
                <td><input type="text" name="infoname" id="infoname1" class="required" size="30"/></td>
                <td><input type="text" name="infomobile" id="infomobile1" class="required" size="30"/></td>
                <td><input type="text" name="infoemail" id="infoemail1" class="required" size="30"/></td>
                <td><button type="submit">创建</button></td>
              </tr>
            </table>
          <% end -%>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="hidden" id="rater_table_rows" name="rater_table_rows" value="2" />
          <input type="hidden" id="textarea" name="textarea" />
          <%= link_to "追加","javascript:void(0);",
            :onclick=>"javascript:add_item('rater_table', '/exam_raters/create_exam_rater', 'exam_rater_list', '#{@examination.id}')" %>
        </td>
      </tr>
    <% else %>
      <% @exam_raters.each do |exam_rater| %>
        <tr id="tr_exam_rater_<%= exam_rater.id %>">
          <td><%= exam_rater.name %></td>
          <td><%= exam_rater.mobilephone %></td>
          <td><%= exam_rater.email %></td>
          <td><a href="#">编辑</a>&nbsp;|&nbsp;
            <%= link_to_remote "删除", :url => "/exam_raters/#{exam_rater.id}", :method => :delete,
              :confirm => "您确定要删除当前阅卷老师么？", :update => "tr_exam_rater_#{exam_rater.id}" %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <input type="hidden" id="rater_table_rows" name="rater_table_rows" value="2" />
          <input type="hidden" id="textarea" name="textarea" />
          <%= link_to "追加","javascript:void(0);",
            :onclick=>"javascript:add_item('rater_table', '/exam_raters/create_exam_rater', 'exam_rater_list', '#{@examination.id}')" %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="pagination_box">
            <%=will_paginate_remote(@exam_raters , "kind=exam_rater" , {:update => 'exam_rater_list', :url => "/examinations/#{@examination.id}"})%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>