<table>
  <colgroup>
    <col width="150"/>
    <col width="150" />
    <col width="180" />
    <col width="100"/>
  </colgroup>
  <thead>
    <tr>
      <th>姓名</th>
      <th>手机号码</th>
      <th>email</th>
      <th>是否确认信息</th>
    </tr>
  </thead>
  <tbody>
    <% if @exam_users.blank? %>
      <tr><td align="center" colspan="4">暂无考生，您可以在 <a href="/examinations/<%= @examination.id %>/edit">这里</a> 添加考生</td></tr>
    <% else %>
      <% @exam_users.each do |exam_user| %>
        <%
        class_name = "never"
        if exam_user.is_user_affiremed == true
          class_name = "ever"
        end
      %>
        <tr class="<%= class_name %>">
          <td><%= exam_user.name %></td>
          <td><%= exam_user.mobilephone %></td>
          <td><%= exam_user.email %></td>
          <td><%= exam_user.is_user_affiremed == true ? "是" : "否" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>