<table>
  <colgroup>
    <col width="160"/>
    <col width="180" />
    <col width="180" />
    <col width="80"/>
  </colgroup>
  <thead>
    <tr>
      <th>姓名</th>
      <th>手机号码</th>
      <th>email</th>
      <th><font color="blue"><%= flash[:email_err] %></font></th>
    </tr>
  </thead>
  <tbody id="add" >
    <% if @exam_users.blank? %>
      <tr id="1">
        <td colspan="4">
          <%= form_remote_tag :url => "/exam_users/create_exam_user" , :method => "get",
            :html => {:class => "required-validate" },:condition => "test_exam(1,'exam_user')",  :update => "exam_user_list"  do -%>
            <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
            <table>
              <tr>
                <td><input type="text" name="exam_user_infoname" id="exam_user_infoname1" class="required" size="30"/></td>
                <td><input type="text" name="exam_user_infomobile" id="exam_user_infomobile1" class="required" size="30"/></td>
                <td><input type="text" name="exam_user_infoemail" id="exam_user_infoemail1" class="required" size="30"/></td>
                <td><button type="submit">创建</button></td>
              </tr>
            </table>
          <% end -%>
        </td>
      </tr>
      <tr id="2">
        <td colspan="4">
          <%= form_remote_tag :url => "/exam_users/create_exam_user" , :method => "get",
            :html => {:class => "required-validate"},:condition => "test_exam(2,'exam_user')", :update => "exam_user_list"  do -%>
            <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
            <table>
              <tr>
                <td><input type="text" name="exam_user_infoname" id="exam_user_infoname2" class="required" size="30"/></td>
                <td><input type="text" name="exam_user_infomobile" id="exam_user_infomobile2" class="required" size="30"/></td>
                <td><input type="text" name="exam_user_infoemail" id="exam_user_infoemail2" class="required" size="30"/></td>
                <td><button type="submit">创建</button></td>
              </tr>
            </table>
          <% end -%>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="hidden" id="add_rows" name="add_rows" value="2" />
          <input type="hidden" id="textarea" name="textarea" />
          <%= link_to "追加","javascript:void(0);",
            :onclick=>"javascript:add_item('add', '/exam_users/create_exam_user', 'exam_user_list', '#{@examination.id}','exam_user')" %>
        </td>
      </tr>
    <% else %>
      <%= render :partial=>"/examinations/show_exam_user" %>
      <tr>
        <td colspan="4">
          <input type="hidden" id="add_rows" name="add_rows" value="2" />
          <input type="hidden" id="textarea" name="textarea" />
          <%= link_to "追加","javascript:void(0);",
            :onclick=>"javascript:add_item('add', '/exam_users/create_exam_user', 'exam_user_list', '#{@examination.id}','exam_user')" %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="pagination_box">
            <%=will_paginate_remote(@exam_users , "kind=exam_user" , {:update => 'exam_user_list', :url => "/examinations/#{@examination.id}"})%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>