<table>
  <colgroup>
    <col width="80"/>
    <col width="90" />
    <col width="100" />
    <col width="60" />
    <col width="40" />
    <col width="100"/>
  </colgroup>
  <thead>
    <tr>
      <th >姓名</th>
      <th>手机号码</th>
      <th>email</th>
      <th>平均阅卷时间</th>
      <th>批卷数量</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="rater_table">
    <% if @exam_raters.blank? %>
      <tr id="1">
        <td colspan="9">
          <%= form_remote_tag :url => "/exam_raters/create_exam_rater" , :method => "get",
            :html => {:class => "required-validate"  },:id=>"exam_rater1",:before => "button_fail('rater_button1', 'spinner_rater')",:condition => "test_exam(1,'exam_rater')", :update => "exam_rater_list"  do -%>
            <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
            <table>
              <tr>
                <td><input type="text" name="exam_rater_infoname" id="exam_rater_infoname1" class="required" size="30"/></td>
                <td><input type="text" name="exam_rater_infomobile" id="exam_rater_infomobile1" class="required" size="30"/></td>
                <td><input type="text" name="exam_rater_infoemail" id="exam_rater_infoemail1" class="required" size="30"/></td>
                <td><button type="submit" id="rater_button1" >创建</button> <%= image_tag "ajax-loader.gif", :id => "spinner_rater", :style => "display:none" %></td>
              </tr>
            </table>
          <% end -%>
        </td>
      </tr>
      <tr id="2">
        <td colspan="6">
          <%= form_remote_tag :url => "/exam_raters/create_exam_rater" , :method => "get",
            :html => {:class => "required-validate" },:id=>"exam_rater2",:before => "button_fail('rater_button2', 'spinner_for_submit')",:condition => "test_exam(2,'exam_rater')", :update => "exam_rater_list"  do -%>
            <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
            <table>
              <tr>
                <td><input type="text" name="exam_rater_infoname" id="exam_rater_infoname2" class="required" size="30"/></td>
                <td><input type="text" name="exam_rater_infomobile" id="exam_rater_infomobile2" class="required" size="30"/></td>
                <td><input type="text" name="exam_rater_infoemail" id="exam_rater_infoemail2" class="required" size="30"/></td>
                <td><button type="submit" id="rater_button2">创建</button><%= image_tag "ajax-loader.gif", :id => "spinner_for_submit", :style => "display:none" %></td>
              </tr>
            </table>
          <% end -%>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <input type="hidden" id="rater_table_rows" name="rater_table_rows" value="2" />
          <input type="hidden" id="textarea" name="textarea" />
          <%= link_to "追加","javascript:void(0);",
            :onclick=>"javascript:add_item('rater_table', '/exam_raters/create_exam_rater', 'exam_rater_list', '#{@examination.id}','exam_rater', 6)" %>
        </td>
      </tr>
    <% else %>
      <% @exam_raters.each do |exam_rater| %>
        <tr id="tr_exam_rater_<%= exam_rater.id %>">
          <td><%=exam_rater.name %></td>
          <td><%=exam_rater.mobilephone %></td>
          <td><%=exam_rater.email %></td>
          <% exam_rater_info=@exam_all["#{exam_rater.id}"] %>
          <td align="center"><%=exam_rater_info.nil? ? "未统计":(exam_rater_info.long_time.to_i/exam_rater_info.sum).to_s+"分钟/张" %></td>
          <td align="center" ><%=exam_rater_info.nil? ? "未阅卷":exam_rater_info.sum.to_s+"份" %></td>
          <td><%= link_to "抽查","/exam_raters/#{exam_rater.id}/random_paper", :target => "_blank" %>&nbsp;|&nbsp;
            <%= link_to "认可成绩","/exam_raters/#{exam_rater.id}/accept_score" %>&nbsp;|&nbsp;
            <%= link_to"作废成绩","/exam_raters/#{exam_rater.id}/cancel_score",:confirm => "您确定要作废该老师的阅卷吗？", %>&nbsp;|&nbsp;
            <%= link_to_remote "编辑", :url => "/exam_raters/#{exam_rater.id}/edit", :method => :get,
              :update => "tr_exam_rater_#{exam_rater.id}" %>&nbsp;|&nbsp;
            <%= link_to_remote "删除", :url => "/exam_raters/#{exam_rater.id}", :method => :delete,
              :confirm => "您确定要删除当前阅卷老师么？", :update => "exam_rater_list" %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="6">
          <input type="hidden" id="rater_table_rows" name="rater_table_rows" value="2" />
          <input type="hidden" id="textarea" name="textarea" />
          <%= link_to "追加","javascript:void(0);",
            :onclick=>"javascript:add_item('rater_table', '/exam_raters/create_exam_rater', 'exam_rater_list', '#{@examination.id}','exam_rater', 6)" %>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <div class="pagination_box">
            <%=will_paginate_remote(@exam_raters , "kind=exam_rater" , {:update => 'exam_rater_list', :url => "/examinations/#{@examination.id}"})%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>