<% if @papers.blank? %>
  <div class="attr">
    <center>查询无结果，您可以更改您的查询条件重新查询试卷</center>
  </div>
<% else %>
  <% @papers.each do |paper| %>
    <div class="attr">
      <div style="float: left;width: 20%;">
        <input type="checkbox" name="check_b" value="<%= paper.id %>"  onclick="javascript:create_exam('check_b')"/>
      </div>
      <div style="float:left;width: 79%;">
        <div style="float:left;width: 49%;"><%= paper.title  %></div>
        <div style="float:left;width: 25%;"><%= paper.category.id if paper.category  %></div>
        <div style="float:left;width: 25%;">
          <%= (paper.total_score.nil? or paper.total_score == 0) ? 0 : paper.total_score %>分/
          <%= (paper.total_question_num.nil? or paper.total_question_num == 0) ? 0 : paper.total_question_num %>题
        </div>
        <div style="float:left;width: 55%;">创建人：<%= paper.user.email  %></div>
        <div style="float:left;width: 45%;">创建与：<%= paper.created_at.strftime("%Y-%m-%d")  %></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  <% end  %>
  <div class="attr">
    <div>
      <input type="hidden" name="exam_getvalue" id="exam_getvalue" value=""/>
      <button type="submit" onclick="" >指定为本场考试试卷</button>
    </div>
  </div>
<% end %>