  <% @exam_users.each do |exam_user| %>
        <%
        class_name = "never"
        if exam_user.is_user_affiremed == true
          class_name = "ever"
        end
      %>
        <tr class="<%= class_name %>" id="tr_exam_user_<%= exam_user.id %>">
          <td><%= exam_user.name %></td>
          <td><%= exam_user.mobilephone %></td>
          <td><%= exam_user.email %></td>
          <td><% if exam_user.order_id %>VIP<% end %></td>
          <td> <%= link_to_remote "编辑", :url => "/exam_users/#{exam_user.id}/edit", :method => :get,
              :update => "tr_exam_user_#{exam_user.id}" %>&nbsp;|&nbsp;
            <%= link_to_remote "删除", :url => "/exam_users/#{exam_user.id}", :method => :delete,
              :confirm => "您确定要删除当前考生么？", :update => "exam_user_list" %></td>
        </tr>
      <% end %>
     
