<ul class="new_biz">
  <li><%= @examination.title %></li>
</ul>
<div class="main_box_back">
  <h2><span>成绩列表</span><div class="right"></div></h2>
  <div class="in">
    <div class="exam_result_div">
      <div class="paper_base_info">考试基本信息</div>
      <div>考试标题：<%= @examination.title %></div>
      <div>
        考试开始于：<% unless @examination.start_at_time.nil? %>
          <%= @examination.start_at_time.strftime("%Y-%m-%d %H:%M:%S") %>
        <% else %>
          任何时候
        <% end %>
      </div>
      <div>考试时长：<% unless @examination.exam_time.nil? %><%= @examination.exam_time %>分钟<% else %>不限制<% end %></div>
      <% unless @examination.description.nil? or @examination.description.strip == "" %>
        <div>描述：<%= @examination.description %></div>
      <% end %>
    </div>
    <div class="add_details">
      <div class="detail">考生人数：<%= @exam_users.size %>人</div>
      <div class="clear"></div>
    </div>
    <div class="add_details">
      <% @examination.score_levels.each do |score_level| %>
        <div class="detail"><%= score_level.value %>：<%= @exam_user_hash[score_level.value] %>人</div>
      <% end %>
      <div class="clear"></div>
    </div>
    <div class="add_details">
      <%= form_for :examinations,  :url => "/examinations/#{@examination.id}/search_result", :method => 'post' do %>
        <div class="detail">姓名/邮箱：<input type="text" class="input_style" name="search_text" id="search_text" size="25"/></div>
        <div class="detail"><input type="submit" class="input_btn" value="查询" size="30"/></div>
        <div class="clear"></div>
      <% end %>
    </div>
    <table>
      <colgroup>
        <col width="120"/>
        <col width="140" />
        <col width="100"/>
        <col width="80"/>
        <col width=""/>
      </colgroup>
      <thead>
        <tr>
          <th>姓名</th>
          <th>email</th>
          <th>得分&nbsp;&nbsp;<img src="/images/triangle_down.gif" width="8" height="8"/></th>
          <th>等级&nbsp;&nbsp;<img src="/images/triangle_up.gif" width="8" height="8"/></th>
          <th>答卷</th>
        </tr>
      </thead>
      <tbody>
        <% @exam_users.each do |exam_user| %>
          <tr>
            <td><%= exam_user.name %></td>
            <td><%= exam_user.email %></td>
            <td><%= exam_user.total_score %></td>
            <td><%= @exam_user_hash[exam_user.id] if !@exam_user_hash.empty? %></td>
            <% result=Examination.find(exam_user.examination_id)  %>
            <td>
              <% if exam_user.total_score %>
                <% if result.is_paper_open %>
                  <%= link_to "查看", href="/user/exam_users/#{exam_user.examination_id}?user_id=#{exam_user.user_id}" %>
                <% else %>
                  考卷不公开
                <% end %>
              <% elsif result.start_at_time %>
                阅卷中...
              <% end %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination_box">
      <%=will_paginate @exam_users ,:prev_label=>"«", :next_label=>"»", :inner_window => 1 %>
    </div>
  </div>
</div>