<script type="text/javascript" src="/javascripts/plugin_assets/My97DatePicker/WdatePicker.js" ></script>
<ul class="new_biz">
  <li>创建考试</li>
</ul>
<div class="main_box_back">
  <h2><span>创建考试</span></h2>
  <div class="in">
    <div class="add_details">
      考试试卷：<a href="/papers/<%=  @paperids.id %>"><%= @paperids.title  %></a>
      <a href="javascript:void(0);" onclick="javascript:change_paper();">[重选试卷]</a>
      <div class="clear"></div>
      <div id="change_papers_div" style="display: none;">
        <%= render :partial => "change_papers", :object => @examination %>
      </div>
    </div>
    <%= form_for :examplan ,:url=>"/examinations/#{@examination.id}/create_step_one", 
      :method=>:post, :html => {:class => "required-validate"} do |f|%>
      <input type="hidden" value="<%= @paperid %>" id="post_value" name="post_value" />
      <div class="add_details">
        <font color="red">*</font>
        考试标题：<input type="text" class="required input_style" name="title" value="<%= @examination.title %>" size="65"/>
        <span>&nbsp;您可以设置考试的标题，长度为1~30个字</span>
      </div>
      <div class="add_details">
        <div class="detail">&nbsp;&nbsp;&nbsp;描述：</div>
        <div class="detail"><textarea cols="69" rows="4" class="textarea_style" name="description" title="description"></textarea></div>
        <div class="detail">&nbsp;&nbsp;请填写对考试必要的一些文字描述</div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="in">
      <input type="button" value="+高级" id="exam_more_setting_btn" name="exam_more_setting_btn" title="设置考试的高级选项"
             class="submit_btn" onclick="javascript:exam_setting();"/>
    </div>
    <div id="exam_more_setting_div" style="display:none;">
      <div class="in">
        <div class="paper_base_info">设置考试高级属性</div>
        <div class="add_details">
          是否开放考试：<input type="radio" name="opened" value="1" checked="true" onclick="javascript:radiovalue('opened')"/>开放&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="opened" value="0" onclick="javascript:radiovalue('opened')" />封闭
          <span>&nbsp;&nbsp;&nbsp;开放即所有人都能参加，封闭即只有收到邮件的人可以参加</span><%= f.hidden_field :radiovalue ,:value=>"" %>
        </div>
        <div class="add_details">
          考试是否能查看答卷：<input type="radio" checked="true" value="1" name="open_result" id="open_result" onclick="javascript:see_result('open_result')"/>是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="open_result" id="open_result" value="0" onclick="javascript:see_result('open_result')"/>否
          <span>&nbsp;&nbsp;&nbsp;即考试结束之后，考生能不能查看自己的考卷</span><%= f.hidden_field :see_result ,:value=>"" %>
        </div>
        <div class="add_details">
          选择是否需要考生确认信息：<input type="radio" id="user_affirm" name="user_affirm"value="1" />是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="user_affirm" value="0" name="user_affirm" checked="true"/>否
        </div>
        <div class="add_details">
          选择是否要生成考试码：<input type="radio" id="generate_exam_pwd" name="generate_exam_pwd" value="1" />是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="generate_exam_pwd"value="0" name="generate_exam_pwd" checked="true"/>否
          <span>&nbsp;&nbsp;&nbsp;（考试码只提供给监考老师，当考生来参加考试的时候，监考老师要输入考试码，考生才能考试）</span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="in">
        <div class="paper_base_info">考试时长设置</div>
        <div class="add_details">
          是否限制考试时段：<input type="radio" name="timelimit" value="1" onclick="javascript:time_limit('timelimit')" />是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="timelimit" value="0" checked="true" onclick="javascript:time_limit('timelimit')"  />否
          <span>&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div  class="add_details"  >
          开始开始于：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" disabled="disabled" class="input_style" id="time" name="time" value="/ 年/ 月/ 日" size="20" onClick="WdatePicker();" readonly/>
          <select name="hour" disabled="disabled" id="hour" onchange="javascript:selecttime('hour')">
            <option value="-1">/ 时</option>
            <% (0..23).each do |i| %>
              <option value="<%= i %>"><%= i %></option>
            <% end %>
          </select>
          <select name="minute" id="minute" disabled="disabled" onchange="javascript:selectminute('minute')">
            <option value="-2">/ 分</option>
            <% (0..59).each do |j| %>
              <option value="<%= j %>"><%= j %></option>
            <% end %>
          </select>
          <span>&nbsp;</span>
        </div><%= f.hidden_field :selectvalue,:value=>"" %>
        <div class="add_details">
          入场结束时间：<input type="text" class="input_style" id="accesstime" name="accesstime" value="" size="20" disabled="disabled" />分钟
          <span>&nbsp;</span>
        </div>
        <div class="add_details">
          考试时长：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="input_style" name="timeout" id="timeout" value="" size="20"  onblur="javascript:compare_value()"/>分钟
          <span>&nbsp;</span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="in">
        <div class="paper_base_info">设置考试成绩等级</div>
        <div class="add_details">
          <div class="detail">&nbsp;&nbsp;&nbsp;成绩等级：</div>
          <div class="detail">
            <textarea cols="30" rows="6" class="textarea_style" id="grade" name="grade"></textarea>
          </div>
          <div class="detail">
            &nbsp;&nbsp;如上编辑框中为设置考试等级的例子：分数段<font color="red">空格</font>等级描述，请参考例子描述自己的等级
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="in">
      <input type="hidden" id="buttonvalue" name="buttonvalue" value="" />
      <input type="submit" value="创建" id="create" name="create" title="创建考试信息" class="submit_btn" onclick="return compare_value()" />
      <input type="button" value="放弃" id="cancel" name="cancel" title="放弃创建的考试，转回到考试列表首页"
             class="submit_btn"  onclick="javascript:window.location.href='/examinations';"/>
    </div>
  <% end %>
</div>