<script type="text/javascript" src="/javascripts/plugin_assets/My97DatePicker/WdatePicker.js" ></script>
<div id="base_info_div">
  <%= render :partial => "exam_base_info" %>
</div>
<div class="clear">&nbsp;</div>
<div class="main_box_back">
  <h2><span><a onclick="javascript:show_name('exam_user_list','exam_user_pile')">考生信息</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="javascript:show_name('exam_user_pile','exam_user_list')">批量录入考生信息</a></span>

    <div class="right">
      <span class="expForEmail"><span id="nameErr"></span></span>&nbsp;&nbsp;&nbsp;
      <% if @examination.user_affirm == true %>
        <a href="/examinations/<%= @examination.id %>/export_user_unaffirm" target="_blank">[导出未确认的考生名单]</a>
      <% end %>
      <a href="/examinations/<%= @examination.id %>/exam_result">[查看成绩]</a>
    </div>
  </h2>
  <div class="in" id="exam_user_list" style="display:block" >
    <%= render :partial => "exam_user_for_now"  %>
  </div>
   <div class="in" id="exam_user_pile" style="display:none" >
    <%= render :partial => "/exam_users/pile_exam_users"  %>
  </div>
</div>
<div class="clear">&nbsp;</div>
<div class="main_box_back">
  <h2><span>阅卷老师信息</span></h2>
  <div class="in" id="exam_rater_list">
    <%= render :partial => "exam_rater" %>
  </div>
</div>