<% if flash[:warn] %>
<div id='flash_notice' class='flash_warn' style='background:#fde03b; padding:8px;'>
  <span title="关闭" style="float:right;cursor:pointer;" onclick="$('flash_notice').remove()"><img src='/images/small-close.gif'/></span>
  <img align='absmiddle' src='/images/icon_caution.gif' style='margin-right:8px;'/><%= flash[:warn] %></div><div class='clear'></div>
<script type='text/javascript' language='javascript'>new Effect.Highlight('flash_notice');</script>
<% elsif flash[:error] %>
<div id='flash_notice' class='flash_error'>
  <span title='关闭' style='float:right;cursor:pointer;' onclick="$('flash_notice').remove()"><img src='/images/small-close.gif'/></span>
  <img align='absmiddle' src='/images/icon_error.gif' style='margin-right:8px;' /><%=  flash[:error] %></div><div class='clear'></div>
<script type='text/javascript' language='javascript'>new Effect.Highlight('flash_notice');</script>
<% elsif flash[:notice] %>
<div id='flash_notice' class='flash_notice'style='background:#129c00; padding:8px; color:#FFF;'>
  <span title='关闭' style='float:right;cursor:pointer;' onclick="$('flash_notice').remove()"><img src='/images/small-close.gif'/></span>
  <img align='absmiddle' src='/images/icon_notice.gif' style='margin-right:8px;' /><%= flash[:notice] %></div><div class='clear'></div>
<script type='text/javascript' language='javascript'>new Effect.Highlight('flash_notice', {startcolor: '#FFF',endcolor: '#FFF'});</script>
<% elsif flash[:pic_warn] %>
<div id='flash_notice' class='flash_pic_warn'>
  <span title='关闭' style='float:right;cursor:pointer;' onclick="$('#flash_notice').remove()"><img src='/images/small-close.gif'/></span>
  <img align='absmiddle' src='/images/icon_caution.gif' style='margin-right:8px;'/><%= flash[:pic_warn] %></div><div class='clear'></div>
  <script type='text/javascript' language='javascript'>new Effect.Highlight('flash_notice');</script>
<% elsif flash[:success] %>
<div id='flash_notice' class='flash_notice'>" +
  <span title='关闭' style='float:right;cursor:pointer;' onclick="$('flash_notice').remove()"><img src='/images/small-close.gif'/></span>
  <img align='absmiddle' src='/images/icon_notice.gif' style='margin-right:8px;' /><%= flash[:success]%></div><div class='clear'></div>
<script type='text/javascript' language='javascript'>new Effect.Highlight('flash_notice', {startcolor: '#74CF89',endcolor: '#d1efd8'});</script>
<% elsif flash[:failure] %>
<div id='flash_notice' class='flash_warn'>
  <span title='关闭' style='float:right;cursor:pointer;' onclick="$('flash_notice').remove()"><img src='/images/small-close.gif'/></span>
  <img align='absmiddle' src='/images/icon_caution.gif' style='margin-right:8px;'/><%= flash[:failure]%></div><div class='clear'></div>
<script type='text/javascript' language='javascript'>new Effect.Highlight('flash_notice');</script>
<% end %>
<% flash[:warn] = nil %>
<% flash[:error] = nil %>
<% flash[:pic_warn] = nil %>
<% flash[:success] = nil %>
<% flash[:failure] = nil %>
<% flash[:notice] = nil %>