试卷分类：
<select name="category" id="category" class="required">
  <option value="">--请选择--</option>
  <% Category.category_tree.each do |category| %>
    <option value="<%= category.id %>" <% if modify_categories.to_i == category.id %>selected="true"<% end %>>
      <% (0..Category.level(category)).each do |level| %>&nbsp;<% end %><%= category.name %>
    <input type="hidden" name="category_name_<%= category.id %>"
           id="category_name_<%= category.id %>" value="<%= category.name %>" />
    </option>
  <% end if Category.category_tree.any? %>
</select>