<br/>
<% if @problem_type != @question_type %>
  小题描述：
  <textarea cols="58" rows="4" id="problem_description" name="problem[description]"></textarea>
<% end %>
<% attr_default_sum = 4 %>
<div class="title">选项：</div>
<div class="clear"></div>
<div class="question">
  <input type="hidden" name="problem[correct_type]" id="problem_correct_type" value="<%= @question_type %>" />
  <input type="hidden" name="problem[attr_sum]" id="problem_attr_sum" value="<%= attr_default_sum %>" />
  <div id="attrs">
    <% (1..attr_default_sum).each do |i| %>
      <div class="attr" id="attr_<%= i %>">
        <input type="checkbox" id="problem_attr_key_<%= i %>" name="attr<%= i %>_key" value="<%= i %>"/>
        <input type="text" name="attr<%= i %>_value" id="problem_attr<%= i %>_value" class="input_style" size="15" />
        <%= link_to "删除","javascript:void(0);",:onclick=>"javascript:delete_attr(#{i})"%>
      </div>
    <% end %>
  </div>
  <div style="text-align: left;"><a href="javascript:void(0);" onClick="javascript:new_attr('more_choose');">+增加选项</a></div>
</div>
<div class="answer">
  分值：<input type="text" name="problem[score]" id="problem_score" class="input_style" />
</div>
<div class="title">解析：</div>
<textarea cols="58" rows="8" id="problem_analysis" name="problem[analysis]"></textarea>
<div class="tag">知识点标签：
  <span class="tag_input"><input type="text" name="tag" id="tag" class="input_style" value="" size="35"/></span>
  <span class="tag_input">多个标签，以“<font color="red">空格</font>”隔开</span>
</div>
<% if @problem_type != @question_type %>
  <input type="button" class="submit_btn" onclick="javascript:new_question(<%= @block_id %>)" value="添加小题"/>
  <input type="button" class="submit_btn" onclick="javascript:cancel_question(<%= @block_id %>);" value="放弃"/>
  <div class="clear"></div>
<% end %>