<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- manifest="test.manifest"-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <%= javascript_include_tag :defaults %>
    <%= use_validate_js_tooltip %>
    <%= javascript_include_tag 'my_app' %>
    <%= javascript_include_tag 'pileadd' %>
    <%= javascript_include_tag 'button' %>
    <%= javascript_include_tag 'jeffrey' %>
    <%= javascript_include_tag 'jeff_item_pools' %>
    <%= javascript_include_tag 'cookie' %>
    <link href="/stylesheets/exam_biz_back.css" rel="stylesheet" />
    <link href="/stylesheets/login.css" rel="stylesheet" />
    

  </head>
  <body>
    <div id="container">
      <div id="hd">
        <div class="right">
          <% if cookies[:user_id].nil? %>
            <a href="/">登录</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/users/new">免费注册</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/user/exam_users/session_new">成绩查询</a>
            &nbsp;&nbsp;
          <% end %>
        </div>
        <a id="logo" href="/"><img src="/images/logo_new.png" border="0"/></a>
        <div class="clear"></div>
        <p class="title_link">
          <%  unless cookies[:user_id].nil? %>
            <% if is_paper_creater? %>
              <a href="/papers">试卷</a>
              &nbsp;|&nbsp;<a href="/item_pools">题库</a>
              &nbsp;|&nbsp;<a href="/examinations">考试</a>
              &nbsp;|&nbsp;<a href="/results">成绩</a>
              &nbsp;|&nbsp;<a href="/feedbacks">提问</a>
            <% end  %>
            <% if is_admin? %>
              &nbsp;|&nbsp;<a href="/users/roles_manage">权限</a>
              &nbsp;|&nbsp;<a href="/users">用户</a>
              &nbsp;|&nbsp;<a href="/proofs">凭证</a>
              &nbsp;|&nbsp;<a href="/report_errors">报告</a>
            <% end %>
          </p>
          <p class="back_welcome">
            <%= current_user.name if current_user %> 欢迎您！
            <% if is_student? %>
              <%= link_to "[考试列表]", "/user/examinations" %>
              <%= link_to "[综合训练]", "/combine_practices" %>
              <%= link_to "[我的成绩]", "/user/exam_users/#{cookies[:user_id]}/my_results" %>
              <a href="/user/collections">[我的收藏]</a>
            <% end %>
            <a href="/users/<%= cookies[:user_id] %>/edit">[个人信息]</a>
            <a href="/signout">[退出]</a>
          <%end%>
        </p>
      </div>
      <div id="bd">
        <div class="main fr">
          <%=  render :partial => "/common/display_flash" %>
          <%= yield %>
        </div>
        <div  id="tishikuang" style="display:block"></div>
      </div>
      <div id="ft">
        <p>Copyright &copy; 2009-2010 考试系统, All Rights Reserved &nbsp;&nbsp;&nbsp;苏州协创软件技术有限公司&nbsp;&nbsp;&nbsp;</p>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </body>
</html>
